<%
    var business = text("business."+lang);
%>

<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main">
			
			<% include header %>

			<div class="page business">

                <div class="wrapper">
                    <% include header-mobile %>
                    <div class="title"><h2><%- business.title %></h2></div>
										<div class="image"><img src="<%- business.image %>"></div>
                    <div class="subtitle"><h3><%- business.subtitle %></h3></div>                    
										<a class="link" href="<%- business.link %>"><%- business.button %></a>
                    <% include footer-mobile %>
                </div>

				<% include footer %>

			</div>
			
			<% include innerpage %>            

		</div>

		<% include script %>

	</body>

</html>