<%
    var contact = text("contact."+lang);
%>

<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main">
			
			<% include header %>

			<div class="page contact">

                <div class="wrapper">
                    <% include header-mobile %>
                    <div class="title"><h2><%- contact.title %></h2></div>
                    <div class="subtitle"><h3><%- contact.subtitle %></h3></div>
                    <div class="items clearfix">                   
                        <div class="left">
                            <% contact.items_left.forEach(function(v,i){ %>
                            <div class="item">
                                <span><%- v.label %></span>
                                <span><%- v.description %></span>
                            </div>
                            <% }); %>
                        </div>
                        <div class="right">
                            <% contact.items_right.forEach(function(v,i){ %>
                            <div class="item">
                                <span><%- v.label %></span>
                                <span><%- v.description %></span>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <% include footer-mobile %>
                </div>

				<% include footer %>

			</div>
			
			<% include innerpage %>            

		</div>

		<% include script %>

	</body>

</html>