<%
    var en = '';
    if (lang=='en') en = '/en/';
    var footer = text("footer."+lang);
%>

<div class="footer-mobile">		                 
    <table width="100%" align="center">
    	<% for(var h=1; h<=3; h++) { %>
        <tr>
        	<% footer.lists.forEach(function(v,i){ %>
            	<% if ((i+1 <= h*3) && (i+1 > (h-1)*3)) { %>
                <td>
                    <img src="<%- v.image %>">
                    <label><%- v.title %></label>
                </td>
                <% } %>
            <% }); %>
        </tr>
        <% } %>
    </table>
    
    <div class="bottom clearfix">
    	<div class="copyright"><%- footer.copyright %></div>
    </div>
</div>