
		<%
			var en = '';
			if (lang=='en') en = '/en/';
            var footer = text("footer."+lang);
		%>

		<div class="footer">
			<div class="wrapper">
				<div class="copyright">
					<%- footer.copyright %>
				</div>
				<div class="menu">
					<ul>
						<% footer.nav.forEach(function(v,i){ %>
						<li><a href="<%- en+v.path %>"><%- v.title %></a></li>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>