                <%
                    var en = '/';
                    var url = '/en/'+path;
                    if (path=='') url = '/en';
                    if (lang=='en') {
                        en = '/en/';
                        url = '/'+path ;
                    }										
                    var footer = text("footer."+lang);
										var header = text("header."+lang);
										var logo = text("general.logo");
										if (lang=='en') {
											var lang_flag = 'id';
										} else {
											var lang_flag = 'en';
										}
										var flag = text("general.flag_"+lang_flag);
										var menu = ["how", "testimonial", "faq"];
                %>
                <div class="nav-mobile">
        		<div class="logo">
        			<a href="<%- en %>"><img src="<%- logo %>"></a>
        		</div>
        		<div class="open-menu">
        			<a href="#"><i class="fa fa-reorder"></i></a>
        		</div>
                <div class="lang-menu">
                    <a href="<%- url %>"><img src="<%- flag %>"></a>
                </div>
        	</div>
        	<div class="menu-mobile">
        		<a href="#" class="close-menu"><i class="fa fa-close"></i></a>
        		<ul class="menu">
				<% menu.forEach(function(val){ %>
				<li data-val="<%- val %>" data-title="<%- header[val] %>"><a ><%- header[val] %></a></li>
				<% }); %>
			</ul>
			<div class="divider"><span></span></div>
			<ul class="menu-bottom">
				<% footer.nav.forEach(function(v,i){ %>
				<li><a href="<%- en+v.path %>"><%- v.title %></a></li>
				<% }); %>
			</ul>
        	</div>
