			<div class="loader">
				<div id="spinner"></div>
			</div>
			<%
				var en = '/';
				var url = '/en/'+path;
				if (path=='') url = '/en';
				if (lang=='en') {
					en = '/en';
					url = '/'+path ;
				} 
				
				var header = text("header."+lang);
				var logo = text("general.logo");
				if (lang=='en') {
					var lang_flag = 'id';
				} else {
					var lang_flag = 'en';
				}
				var flag = text("general.flag_"+lang_flag);
				var menu = ["how", "testimonial", "faq"];
			%>
			<div class="header">				
				<div class="logo">
					<a href="<%- en %>"><img src="<%- logo %>"></a>
				</div>
				<div class="lang-menu">
					<a href="<%- url %>"><img src="<%- flag %>"></a>
				</div>
				<div class="menu">
					<ul>
						<% menu.forEach(function(val){ %>
						<li data-val="<%- val %>" data-title="<%- header[val] %>"><a ><%- header[val] %></a></li>
						<% }); %>
					</ul>
				</div>
			</div>