<%
	var randomNumber = function myFunction() {
		var x = Math.floor((Math.random() * 9) + 1);
		return x;
	}
	var style = text("general.active_signup_type");
	var homepage = text("homepage."+lang+".after_signup."+style);
	var footer = text("footer."+lang);
	if (style=='reva') {
		var share_link = data.share_link.replace('l.aunch.us/','ysb.io/?r=');
		var share_facebook = 'https://www.facebook.com/sharer/sharer.php?u='+share_link+encodeURIComponent('&lang=')+lang;
		var share_twitter = 'https://twitter.com/share?&url='+share_link+'&text='+encodeURIComponent(homepage.share_twitter[randomNumber()]);
		var share_whatsapp = 'whatsapp://send?text='+encodeURIComponent(homepage.share_whatsapp[randomNumber()])+"%20"+share_link;
	}
%>

<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main ybhome">
			
			<% include header %>

			<div class="page home">
                
                <% include header-mobile %>
                
				<div class="home-content">
					<div class="wrapper">
						<% if(style=='dina') { %>
						<div class="desc-after dina">
							<div class="title"><h2><%- homepage.title %></h2></div>
							<div class="description"><%- homepage.description %></div>
							<div class="box">
								<div class="box-title"><h3><%- homepage.before_code %><span><%- data.invitation_code %></span><%- homepage.after_code %></h3></div>
								<div class="box-content"><%- homepage.phone %></div>
							</div>
						</div>
						<% } else if(style=='reva') { %>
						<div class="desc-after reva" data-link="<%- share_link+encodeURIComponent('&lang=')+lang %>">
							<div class="title"><h2><%- homepage.title %></h2></div>
							<div class="description"><%- homepage.description %></div>
							<div class="box">
								<div class="box-title"><h3><%- homepage.box_title %></h3></div>
								<div class="box-content"><%- share_link %></div>
								<div class="box-social clearfix">
									<a class="twitter" href="<%- share_twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
									<a class="facebook" href="<%- share_facebook %>" target="_blank" data-link="<%- share_link+encodeURIComponent('&lang=')+lang %>"><i class="fa fa-facebook"></i></a>
									<a class="whatsapp" href="<%- share_whatsapp %>" target="_blank"><i class="fa fa-whatsapp"></i></a>
								</div>
							</div>
							<div class="step">
								<div class="item">1. <%- homepage.step1 %> <i class="fa fa-check"></i></div>
								<div class="item">2. <%- homepage.step2 %></div>
								<div class="item">3. <%- homepage.step3 %></div>
							</div>
						</div>
						<% } else { %>
							<div class="title"><h2><%- homepage.title %></h2></div>
							<div class="description"><%- homepage.description %></div>
							<div>
								sheryl
							</div>
						<% } %>
					</div>
				</div>

				<div class="home-footer">
                    <table width="100%" align="center">
                        <tr>
                            <% footer.lists.forEach(function(v,i){ %>
                            <td style="text-align:center; vertical-align:bottom; ">
                                <img class="blue" src="<%- v.image %>">
                                <label><%- v.title %></label>
                            </td>
                            <% });%>
                        </tr>
                    </table>
                    <%
                    var en = '';
                    if (lang=='en') en = '/en/';
                    %>
                    <div class="bottom clearfix">
                        <div class="copyright"><%- footer.copyright %></div>
                        <div class="nav">
                            <ul>
                                <% footer.nav.forEach(function(v,i){ %>
                                <li>
                                    <a href="<%- en+v.path %>"><%- v.title %></a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>				

				<div class="overlay"></div>
			</div>
			
			<% include innerpage %>

		</div>

		<% include script %>

	</body>

</html>
