<%
    var homepage = text("homepage."+lang+".signup");
    var footer = text("footer."+lang);
%>

<!DOCTYPE html>
<html>
    
    <% include head %>
    
    <body>
        <div class="main ybhome">
            
            <% include header %>   
                 	
            <div class="page home">
                
            	<% include header-mobile %>
                
                <div class="home-content">
                    <div class="wrapper">
                    	<div class="desc-head-mobile">
                            <h2><%- homepage.title %></h2>
                            <p><%- homepage.description %></p>
                        </div>
                        <div class="desc-chat">
                            <div class="desc-chat-wrapper"></div>
                        </div>
                        <div class="desc-about">
                            <div class="about-greeting">
                                <h2><%- homepage.title %></h2>
                                <p><%- homepage.description %></p>
                            </div>
                            <div class="about-form">
                                <form method="post" id="formSub">
                                    <div class="fieldset">
                                    	<div class="loader-form"><img src="/images/loader-form.gif"></div>
                                        <input type="hidden" id="refid" name="refid" value="<%- refID %>"> 
                                        <div class="input-wrapper clearfix field-telephone">
                                            <div class="icon-input">
                                                <img src="/images/flag_id.png" alt="flag">
                                            </div>
                                            <input type="text" placeholder="" value="+62" name="telephone" id="telephone"/>
                                            <span class="notice">Error</span>
                                        </div>
                                        <div class="input-wrapper clearfix field-email">
                                            <div class="icon-input">
                                                <img src="/images/envelope.png" alt="">
                                            </div>
                                            <input type="text" id="newsletter-email" placeholder="<%- homepage.email %>" name="email" />
                                            <span class="notice">Error</span>
                                        </div>
                                        <button><%- homepage.button %></button>                                        
                                    </div>
                                </form>
                            </div>

                            <% include footer-mobile %>
                            
                        </div>
                    </div>
                    <div class="img-store">
                        <img src="">
                    </div>
                    <div class="img-store-mobile">
                        <img src="">
                    </div>
                </div>
                
                <div class="home-footer">
                    <table width="100%" align="center">
                        <tr>
                            <% footer.lists.forEach(function(v,i){ %>
                            <td style="text-align:center; vertical-align:bottom; ">
                                <img class="blue" src="<%- v.image %>">
                                <label><%- v.title %></label>
                            </td>
                            <% });%>
                        </tr>
                    </table>
                    <%
                    var en = '';
                    if (lang=='en') en = '/en/';
                    %>
                    <div class="bottom clearfix">
                        <div class="copyright"><%- footer.copyright %></div>
                        <div class="nav">
                            <ul>
                                <% footer.nav.forEach(function(v,i){ %>
                                <li>
                                    <a href="<%- en+v.path %>"><%- v.title %></a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div> 
                               
                <div class="overlay"></div>
            </div>
            
            <% include innerpage %>
            
        </div>
        
        <% include script %>
        
    </body>
</html>
