			<% 
                var how = text("how."+lang);
                var testimonial = text("testimonial."+lang);
                var faq = text("faq."+lang);
            %>
                        
			<div class="innerpage">
				<div class="subpage how">
					<div class="wrapper">
						<% include header-mobile %> 
						<div class="content">
							<div class="title"><h1><%- how.title %></h1></div>
							<div class="items clearfix">
								<% how.items.forEach(function(v,i){ %>
								<div class="item">
									<div class="thumb">
										<img src="<%- v.image %>">
									</div>
									<div class="title"><%- v.title %></div>
									<div class="description"><%- v.description %></div>
								</div>
								<% }); %>
							</div>
							<div class="nav">
								<div class="button">
									<a href="#"><%- how.button %></a>
								</div>
								<div class="alternate">
									<a href="#"><%- how.alternate %></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="subpage testimonial">
					<div class="wrapper">
						<% include header-mobile %> 
						<div class="content">
							<div class="title"><h1><%- testimonial.title %></h1></div>
							<div class="items clearfix">
								<% testimonial.items.forEach(function(v,i){ %>
								<div class="item">
									<div class="thumb">
										<img src="<%- v.image %>">
									</div>									
									<div class="words"><%- v.words %></div>
									<div class="meta">
										<span class="name"><%- v.name %>,</span>
										<span class="description"><%- v.description %></span>
									</div>
									<div class="twitter"><a href="https://twitter.com/<%- v.twitter %>">@<%- v.twitter %></a></div>
								</div>
								<% }); %>
							</div>
							<div class="nav">
								<div class="button">
									<a href="#"><%- testimonial.button %></a>
								</div>
								<div class="alternate">
									<a href="#"><%- testimonial.alternate %></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="subpage faq">
					<div class="wrapper">
						<% include header-mobile %> 
						<div class="content">
							<div class="title"><h1><%- faq.title %></h1></div>
							<div class="items clearfix">
								<% faq.items.forEach(function(v,i){ %>
								<div class="item">
									<div class="title"><%- v.title %></div>
									<div class="description"><%- v.description %></div>
								</div>
								<% }); %>
							</div>
							<div class="nav">
								<div class="button">
									<a href="#"><%- faq.button %></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>