<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main">

			<% include header %>

			<div class="page jobs">
                <div class="overlay"></div>
                <div class="wrapper">
                <% include header-mobile %>
                <% var jobs = text("jobs."+lang); %>
                    <div class="title"><h2><%= jobs.title %></h2></div>
                    <div class="subtitle"><h3><%= jobs.sub_title %></h3></div>
                    <div class="hireDivider"></div>
                    <p class="subTitleDesc"><%= jobs.top_description %></p>
                    <div class="box-wrapper">
                        <h2 class="hiring-title"><%= jobs.heading %></h2>
                        <div class="hiring-position">
                            <div class="hiring-subposition">
                                <% jobs.positioning.left.forEach(function(pos, i) { %>
                                <div class="hiring-item">
                                    <h3><%= pos.label %></h3>
                                    <ul>
                                        <% var item = jobs.openings[pos.ref]; item.forEach(function(opn, j) { %>
                                        <li id="<%= opn.job_title.toLowerCase().replace(/[^A-Za-z0-9\s]/g, '').replace(/[\s]/g, '-'); %>">
                                            <a href=""><%= opn.job_title %></a>
                                            <div class="item-prop">
                                                <h1><%= opn.job_title %></h1>
                                                <div class="item-description"><%- opn.job_text %></div>
                                                <div class="item-details">
                                                    <% var details = ["responsibilities", "requirements", "benefits", "backgrounds"]; %>
                                                    <% details.forEach(function(det){ if(opn[det]) { %>
                                                    <div class="item-content">
                                                        <div class="title"><%= det  %>  <i class="fa fa-chevron-down"></i></div>
                                                        <div class="list">
                                                            <ul>
                                                            <% var itemlist = opn[det]; itemlist.forEach(function(list) { %>
                                                                <li><%= list %></li>
                                                            <% });%>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <% }}); %>
                                                </div>
                                                <div class="item-bottom">
                                                    <a href="<%= item[j].file %>" target="_blank"><i class="fa fa-file-pdf-o"></i>Download PDF</a>
                                                    <a href="#" target="_blank" class="item-back">Back to jobs</a>
                                                </div>
                                            </div>
                                        </li>
                                        <% }); %>
                                    </ul>
                                </div>
                                <% }); %>
                            </div>
                            <div class="hiring-subposition">
                                <% jobs.positioning.right.forEach(function(pos, i) { %>
                                <div class="hiring-item">
                                    <h3><%= pos.label %></h3>
                                    <ul>
                                        <% var item = jobs.openings[pos.ref]; item.forEach(function(opn, j) { %>
                                        <li id="<%= opn.job_title.toLowerCase().replace(/[^A-Za-z0-9\s]/g, '').replace(/[\s]/g, '-'); %>">
                                            <a href=""><%= opn.job_title %></a>
                                            <div class="item-prop">
                                                <h1><%= opn.job_title %></h1>
                                                <div class="item-description"><%- opn.job_text %></div>
                                                <div class="item-details">
                                                    <% var details = ["responsibilities", "requirements", "benefits", "backgrounds"]; %>
                                                    <% details.forEach(function(det){ if(opn[det]) { %>
                                                    <div class="item-content">
                                                        <div class="title"><%= det  %>  <i class="fa fa-chevron-down"></i></div>
                                                        <div class="list">
                                                            <ul>
                                                            <% var itemlist = opn[det]; itemlist.forEach(function(list) { %>
                                                                <li><%= list %></li>
                                                            <% });%>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <% }}); %>
                                                </div>
                                                <div class="item-bottom">
                                                    <a href="<%= item[j].file %>" target="_blank"><i class="fa fa-file-pdf-o"></i>Download PDF</a>
                                                    <a href="#" target="_blank" class="item-back">Back to jobs</a>
                                                </div>
                                            </div>
                                        </li>
                                        <% }); %>
                                    </ul>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <div class="hiring-bottom"><%- jobs.bottom_description %></div>
                        <div class="hiring-modal">
                            <div class="hiring-nav">
                                <a class="hiring-logo" href="#"><img src="/images/yesboss@2x.png"></a>
                                <a class="hiring-close" href="#"><i class="fa fa-close"></i></a>

                            </div>
                            <div class="wrapper">
                                <div class="hiring-content"></div>
                            </div>
                        </div>
                    </div>
                    <% include footer-mobile %>
                </div>

				<% include footer %>

			</div>

			<% include innerpage %>

		</div>

		<% include script %>

	</body>

</html>
