<%
    var press = text("press."+lang);
%>

<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main">

			<% include header %>

			<div class="page press">
                <div class="wrapper">
                    <% include header-mobile %>
                    <div class="title"><h2><%- press.title %></h2></div>
                    <div class="subtitle"><h3><%- press.subtitle %></h3></div>
                    <div class="items clearfix">
                        <div class="inner">
                            <% press.items.forEach(function(v,i){ %>
                            <div class="item">
                                <a href="<%- v.link %>" target="_blank">
                                    <img src="<%- v.image %>">
                                </a>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="button"><a href="<%- press.button.file %>"><img src="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/static/zipicon.png"><%- press.button.title %></a></div>
                        <div class="alternate"><a href="mailto:<%- press.alternate %>"><%- press.alternate %></a></div>
                    </div>
                    <% include footer-mobile %>
                </div>

				<% include footer %>

			</div>

			<% include innerpage %>

		</div>

		<% include script %>

	</body>

</html>
