	<% if(page=='index2') { %>
			<!-- Twitter Pixel Code - After Signup -->
			<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
			<script type="text/javascript">twttr.conversion.trackPid('nttyn', { tw_sale_amount: 1, tw_order_quantity: 0 });</script>
			<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nttyn&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
			<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nttyn&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
			</noscript>
			<!-- End Twitter Pixel Code -->
	<%	} else { %>
			<!-- Twitter Pixel Code -->
			<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
			<script type="text/javascript">twttr.conversion.trackPid('nttyo', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
			<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nttyo&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
			<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nttyo&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
			</noscript>
			<!-- End Twitter Pixel Code -->
	<%	} %>

	
	<script type="text/javascript" src="/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript">
		var text = <%- JSON.stringify(text("homepage."+lang+".bubble_chat")) %>;
	</script>
	<script type="text/javascript" src="/js/main.min.js"></script>
