<%
    var terms = text("terms."+lang);
%>

<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main">

			<% include header %>

			<div class="page terms">
                <div class="overlay"></div>
                <div class="wrapper">
                <% include header-mobile %>
                    <div class="title"><h2><%= terms.title %></h2></div>
                    <div class="terms-desc-top"><%= terms.description_top %></div>
                    <% var item = ["ketentuan_umum", "kewajiban_pengguna", "layanan_berbiaya", "jaminan", "perlindungan_data"]; item.forEach(function(attr) { %>
                    <div class="terms-item">
                        <h3 class="item"><%= attr.toUpperCase().replace(/_/g, " "); %></h3>
                            <ul>
                            <% terms[attr].forEach(function(list, j) { %>
                                <li><span><%= j+1 %>.</span> <%= list %></li>
                            <% }); %>
                            </ul>
                    </div>
                    <% }); %>
                    <div class="terms-desc-bottom"><%= terms.description_bottom %></div>
                    <% include footer-mobile %>
                </div>

				<% include footer %>

			</div>

			<% include innerpage %>

		</div>

		<% include script %>

	</body>

</html>
