// Mixin for include
@mixin p($key, $option) {
  -webkit-#{$key}:$option;
     -moz-#{$key}:$option;
      -ms-#{$key}:$option;
	   -o-#{$key}:$option;
          #{$key}:$option;
}
// Font-family
$heading-font: 'Oxygen', arial;
$content-font: 'Open Sans', sans-serif;

// Font-weight
$extra-light : 100;
$light : 300;
$normal : 400;
$semi-bold : 600;
$bold : 700;
$extra-bold : 800;

// Color
$white: #ffffff;
$blue: #0089BD;
$soft_blue : #C8E5F0;
$yellow : #FFBC08;
$dummy : #f2ff00;
$black : #000000;

// Media query
$break-small: 320px;
$break-medium: 600px;
$break-large: 940px;
$break-super: 1024px;
$break-agak-extra: 1366px;
$break-extra: 1700px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small) and (max-width: $break-medium - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == super-screens {
    @media only screen and (min-width: $break-large) and (max-width: $break-super - 1) { @content; }
  }
    @else if $media == more-super-screens {
    @media only screen and (min-width: $break-super) and (max-width: $break-agak-extra - 1) { @content; }
  }
  @else if $media == large-medium {
    @media only screen and (min-width: 1366px) and (min-height: 650px) { @content; }
  }
  @else if $media == large-desktop {
    @media only screen and (min-width: $break-extra) { @content; }
  }
  @else if $media == limit-min-width {
    @media only screen and (min-width: 1024px) and (max-width: 1099px) { @content; }
  }
  @else if $media == limit-min-height {
    @media only screen and (min-width: 1024px) and (max-height: 600px) { @content; }
  }
  @else if $media == max-mobile {
    @media only screen and (max-width: 1023px) { @content; }
  }
	@else if $media == mini-mobile {
    @media only screen and (max-width: 350px) { @content; }
  }
  @else if $media == limit-height {
    @media only screen and (max-height: 670px) { @content; }
  }
  @else if $media == limit-760 {
    @media only screen and (max-height: 760px) { @content; }
  }
  @else if $media == limit-600 {
    @media only screen and (max-height: 600px) { @content; }
  }
  @else if $media == limit-mobile {
    @media only screen and (max-height: 600px) { @content; }
  }
}
// View Width
@function get-vw($target) {
  $vw-context: (1280 * 0.01) * 1px;
  @return ($target / $vw-context) * 0.95vw;
}
@function gets-vw($target) {
  $vw-context: (1280 * 0.01) * 1px;
  @return ($target / $vw-context) * 0.50vw;
}
@function getf-vw($target) {
  $vw-context: (1280 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}


a {
    text-decoration: none;
    cursor: pointer;
}

select,
button{
    cursor: pointer;
}
