@import "library";

html, body {
	width: 100%;
	height: 100%;
	vertical-align: baseline;
}
body { 
	font-family: $content-font;
    font-size: 14px;
    padding: 0;
    margin: 0;
    outline: none;

	.clearfix {
		display: inline-block;
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
	}
	* {
		box-sizing: border-box;
		outline: none;
	}
	.loader {
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 101;
	    background: #fff;
	    .wrapper {
	    	display: inline-block;
		    position: absolute;
		    left: 50%;
		    top: 50%;
	    	img {
	    		transform: translate(-50%, -50%);
	    	}
	    }
	}
	.main {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.header {
		    z-index: 100;
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		    padding: 20px;
			@include respond-to(max-mobile){
				display: none;
			}
		    .logo {
		    	float: left;
		    	padding-top: 5px;
		    	img {
		    		width: 140px;
		    	}
		    }
		    .menu {
		    	float: right;
		    	ul {
		    		margin: 0;
    				padding: 0;
    				li {
    					display: inline-block;
	    				a {
	    					font-family: $heading-font;
	    					color: #fff;
						    text-decoration: none;
						    line-height: 40px;
						    padding: 0 10px;
						    border: 2px solid transparent;
						    display: block;
						    border-radius: 5px;
						    cursor: pointer;
						    @include p(transition, all .3s ease-out);
						    &.selected {
						    	border-color: #fff;
						    }
	    				}
	    				&:hover {
	    					a {
	    						border-color: #fff;
	    					}
	    				}
    				}
		    	}
		    }
		    .lang-menu {
		    	float: right;
			    line-height: 42px;
			    padding-left: 20px;
		    	a {
		    		img {
		    			max-width: 30px;
    					vertical-align: middle;
		    		}
		    	}
		    }
		}

		.nav-mobile {
			position: absolute;
			display: none;
		    left: 0;
		    right: 0;
		    top: 0;
		    padding: 20px;
		    z-index: 7;
		    .logo {
		    	display: inline-block;
    			float: left;
		    	a {
		    		img {
		    			max-width: 110px;
		    		}
		    	}
		    }
		    .lang-menu {
		    	display: inline-block;
    			float: right;
			line-height: 33px;
			padding-right: 10px;
		    	a {
		    		img {
		    			max-width: 24px;
		    		}
		    	}
		    }
		    .open-menu {
		    	display: inline-block;
    			float: right;
		    	a {
		    		color: #fff;
    				font-size: 20px;
		    	}
		    }
		    @include respond-to(max-mobile){
				display: block;
			}
		}

		.menu-mobile {
			position: absolute;
		    z-index: -1;
		    opacity: 0;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: rgba(0, 137, 189,.9);
		    color: #fff;
		    font-size: 20px;
		    text-align: center;
		    padding-top: 75px;
		    @include p(transition, all .5s ease-out);
		    &.open {
		    	opacity: 1;
		    }
		    .close-menu {
		    	position: absolute;
			    top: 20px;
			    right: 20px;
			    color: #fff;
			    font-size: 25px;
			    line-height: 25px;
		    }
		    ul {
			    list-style-type: none;
			    padding: 0;
			    margin: 0;
			    li {
			    	display: block;
    				line-height: 35px;
			    	a {
			    		text-decoration: none;
						color: #fff;
			    	}
			    }
			}
			.divider {
				width: 100%;
			    text-align: center;
			    display: block;
			    margin-bottom: 10px;
			    span {
			    	width: 75px;
				    border-top: 1px solid #fff;
				    display: inline-block;
			    }
			}
		}

		.general {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			min-height: 100%;
		}

		.page {
			@extend .general;
			@include p(transition, all .5s ease-out);
			z-index: 6;
			&.down {
				@include p(transform, translate3d(0, 100%, 0));
			}
			@include respond-to(max-mobile){
				overflow: auto;
			}
			&.home {
				// background: url(../images/mainBackground5.jpg) no-repeat center center;
				background-color: #E66C6F;
				background-size: cover;
				@include respond-to(max-mobile){
					// background: url(../images/mobile-mainBackground5.jpg) no-repeat center center;
					background-size: cover;
					background-position: right bottom;
				}
				.home-content {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					z-index: 2;
					@include respond-to(limit-min-width){
							@include p(transform, scale(.8));
					}
					@include respond-to(limit-min-height){
							@include p(transform, scale(.8));
					}
					.step1 .wrapper {
						@include respond-to(max-mobile){
							padding-top: 0px;
						}
						.desc-head-mobile {
								padding-top: 100px;
						}
					}
					.wrapper {
						width: 1024px;
						margin: 0 auto;
						position: absolute;
						bottom: 0;
						left: 0;
						padding: 0;
						right: 0;
						padding-bottom: 140px;
						@include respond-to(large-desktop){
							bottom: 200px;
						}
						@include respond-to(max-mobile){
							top: 0;
							padding-bottom: 0;
							padding-top: 100px;
							width: 100%;
						}
						@include respond-to(limit-min-width){
							padding-bottom: 100px;
						}
						@include respond-to(limit-min-height){
							padding-bottom: 100px;
						}
						.desc-head-mobile {
							display: none;
							color: #fff;
							padding: 0 30px;
							text-align: left;
							margin-bottom: 25px;
							width: 80%;
							h2 {
								margin: 0;
								font-size: 22px;
								@include respond-to(mini-mobile){
									font-size: 17px;
								}
							}
							p {
								-webkit-text-size-adjust:none;
								font-size: 12px;
								font-weight: 300;
								line-height: 17px;
								margin-top: 30px;
								@include respond-to(mini-mobile){
									margin-top: 20px;
								}
							}
							.arrow-bottom {
								position: absolute;
								bottom: 20px;
								left: 0;
								right: 0;
								text-align: center;
								a {
									display: inline-block;
									width: 75px;
									img {
										max-width: 100%;
									}
								}
							}
							@include respond-to(max-mobile){
								display: block;
							}
						}
						.desc-about{
							width: 450px;
							height: auto;
							text-align: left;
							position: absolute;
							left: 0;
							bottom: 70px;
							@include respond-to(max-mobile){
								position: relative;
								bottom: inherit;
								width: 100%;
							}
							@include respond-to(limit-min-width){
								bottom: 130px;
							}
							@include respond-to(limit-min-height){
								bottom: 130px;
							}
							.about-greeting{
								clear: both;
								width: 100%;
								float: left;
								margin-top: 0;
								@include respond-to(max-mobile){
									display: none;
								}
								h2{
									font-family: $heading-font;
									font-weight: 500;
									font-size: 41px;
									color: rgba(255,255,255,1);
									margin-bottom: 30px;
								}
								p{
									font-size: 15px;
									font-weight: 100;
									letter-spacing: 1px;
									margin: 0;
									color: #fff;
									line-height: 22px;
									padding-left: 5px;
									margin-bottom: 20px;
								}
							}
							.about-form{
								clear: both;
								width: 100%;
								overflow: hidden;
								padding-top: 20px;
								opacity: .9;
								@include respond-to(max-mobile){
									background: #fff;
									opacity: 1;
								}
								.mobile-description {
									display: none;
									padding: 0 40px 20px;
									text-align: center;
									font-size: 11px;
									color: #777;
									@include respond-to(max-mobile){
										display: block;
									}
								}
								.about-error{
									position: absolute;
									bottom: 67px;
									left: 92px;
									color: #EF744F;
									font-size: 9px;
									width: 350px;
									text-align: left;
								}
								.about-error.phone{
									bottom: 126px;
								}
								label{
									clear: both;
									float: left;
									font-size: 18px;
									color: #FFFFFF;
									margin-bottom: 10px;
									text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
								}
								.fieldset{
									clear: both;
									float: left;
									position: relative;
									@include respond-to(max-mobile){
										padding: 20px 40px 40px;
									}									
									@include respond-to(mini-mobile){
										padding: 5px 25px 20px;
									}
									.loader-form {
										position: absolute;
										top: 0;
										left: 0;
										bottom: 0;
										background: rgba(255,255,255,.7);
										width: 458px;
										z-index: 4;
										display: none;
										img {
											position: absolute;
											left: 50%;
											top: 50%;
											transform: translate(-50%,-50%);
											width: 35px;
										}
									}
									.input-wrapper{
										display:inline-block;
										float:left;
										position: relative;
										margin-bottom: 6px;
										@include respond-to(max-mobile){
											width: 100%;
											border-radius: 4px;
											border: 1px solid #dedede;
											margin-bottom: 5px;
										}
										&.field-telephone {
											width: 222px;
											@include respond-to(max-mobile){
												width: 100%;                                               
											}
										}
										&.field-email {
										 width: 222px;
										 margin-left: 6px; 
										 @include respond-to(max-mobile){
												width: 100%;
												margin-left: 0;                                               
											}
										}
										&.field-code {
											width: 450px;
											input {
												font-size: 17px;
												font-weight: 700;
												text-align: center;
											}
											@include respond-to(max-mobile){
												width: 100%;                                               
											}
										}
										input[type="text"], input[type="number"]{
											padding: 14px 15px;
											width: 100%;
											font-size: 17px;
											color: #555;
											border: 0;
											overflow: hidden;
											position: relative;
											left: 0;
											@include p(transition, all .3s ease-out);
											@include respond-to(max-mobile){
												width: 100%;
												border-radius: 4px;
												padding: 12px 20px;
												font-size: 15px;
											}
											@include respond-to(mini-mobile){
												-webkit-text-size-adjust: none;
												font-size: 12px;
												padding: 10px;
											}
										}
										.notice {
											position: absolute;
											opacity: 0;
											bottom: 1px;
											left: 15px;
											font-size: 11px;
											color: #E74C3C;
											line-height: 12px;
											@include p(transition, all .3s ease-out);
										}
										&.error {
											input[type="text"], input[type="number"] {
											-webkit-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
											-moz-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
											box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
											}
											.notice {
												opacity: 1;
											}
										}
									}
									.input-wrapper:first-child{
										margin-right: 2px;
									}
									button{
										display: inline-block;
										float: left;
										width: 450px;
										height: auto;
										background: #2e2e2e;
										border: 0;
										-moz-background-clip: padding;     /* Firefox 3.6 */
										-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
										background-clip: padding-box;
										color: #fff;
										text-align: center;
										padding: 16px 0;
										font-size: 17px;
										font-weight:700;
										cursor: pointer;
										transition: opacity .3s ease-out;
										@include respond-to(max-mobile){
											width: 100%;
											border: 0 !important;
											border-radius: 4px;
											font-size: 13px;
											padding: 14px 0;
										}
										@include respond-to(mini-mobile){
											-webkit-text-size-adjust: none;
											padding: 12px 10px;
											font-size: 12px;
										}
									}
									button:hover{
										opacity: .8;
									}
								}
							}
							.about-footer-mobile {
								display: none;
								background: #f0f0f0;
								border-top: 1px solid #e6e6e6;
								padding: 20px;
								text-align: center;
								@include respond-to(max-mobile){
									display: block;
								}
								.logo {
									img {
										max-width: 120px;
									}
								}
								.copyright {
									-webkit-text-size-adjust:none;
									font-size: 10px;
									color: #ababab;
									margin-top: 15px;
								}
							}
						}
						.desc-after {
							width: 450px;
							height: auto;
							text-align: left;
							position: absolute;
							left: 0;
							bottom: 90px;
							@include respond-to(max-mobile){
								bottom: 20px;
								width: 100%;
								padding: 0 20px;
							}
							@include respond-to(limit-min-width){
								bottom: 150px;
							}
							@include respond-to(limit-min-height){
								bottom: 150px;
							}
							.about-greeting{
								clear: both;
								width: 100%;
								margin-top: 0;
								@include respond-to(max-mobile){
									width: 80%;
									position: fixed;
    							top: 60px;
								}
								h2{
									font-family: $heading-font;
									font-weight: 500;
									font-size: 41px;
									color: rgba(255,255,255,1);
									margin-bottom: 20px;
									@include respond-to(max-mobile){
										font-size: 22px;
									}
									@include respond-to(mini-mobile){
										font-size: 17px;
										font-weight: 700;
										margin-bottom: 10px;
									}
								}
								p{
									font-size: 15px;
									font-weight: 100;
									letter-spacing: 1px;
									margin: 0;
									color: #fff;
									line-height: 22px;
									padding-left: 5px;
									margin-bottom: 20px;
									@include respond-to(max-mobile){
										-webkit-text-size-adjust:none;
										font-size: 12px;
										line-height: normal;
										padding-left: 0;
									}									
								}
							}
							.about-box {
								background: #fff;
								padding: 25px;
								@include respond-to(max-mobile){
									padding: 20px;
								}
								h2{
									font-family: $heading-font;
									font-weight: 500;
									font-size: 32px;
									color: #02C557;
									margin-bottom: 10px;
									margin-top: 0;
									@include respond-to(max-mobile){
										font-size: 22px;
									}
									@include respond-to(mini-mobile){
										font-size: 17px;
									}
								}
								p{
									font-size: 20px;
									font-weight: 400;
									margin: 0;
									color: #686868;
									line-height: 27px;
									@include respond-to(max-mobile){
										font-size: 15px;
										line-height: normal;
									}
									@include respond-to(mini-mobile){
										-webkit-text-size-adjust: none;
										font-size: 12px;    
									}
								}
							}
						}
					}
				}
				.home-footer {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					color: #f8f8f8;
					z-index: 2;
					box-sizing: border-box;
					display: block;
					line-height: 50px;
					text-align: right;
					font-size: 11px;
					padding: 0 20px;
					@include respond-to(max-mobile) {
						display: none;
					}
					.wrapper {
							width: 1024px;
							margin: 0 auto;
					}
				}
			}
		}

		.innerpage {
			@extend .general;
			color: $white;
			background: #000;
			.subpage {
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    overflow: auto;
			    background: $blue;
				color: $white;
				opacity: 0;
				visibility: 0;
				padding-top: 80px;
			    @include p(transition, all 1s ease-out);
			    &.active {
					opacity: 1;
					z-index: 5;
					visibility: 1;
				}
				.wrapper {
					width: 1024px;
					margin: 0 auto;
					@include respond-to(max-mobile){
						width: 100%;
					}
					.content {
						margin: 0 -40px;
						padding-bottom: 100px;
						position: relative;
						z-index: 1;
						@include respond-to(max-mobile){
							margin: 0;
						}
						> .title {
							h1 {
								text-align: center;
							    font-size: 27px;
							    font-family: $heading-font;
							    letter-spacing: 1px;
							    @include respond-to(max-mobile){
									font-size: 23px;
								}
							}
						}
						.nav {
							text-align: center;
							.button {
								margin-bottom: 10px;
								a {
									text-decoration: none;
									font-family: $heading-font;
								    font-size: 17px;
								    font-weight: 600;
								    color: #000;
								    background: #FFBC08;
								    line-height: 50px;
								    display: inline-block;
								    padding: 0px 25px;
								    border-radius: 4px;
								    @include p(transition, all .3s ease-out);
								    &:hover {
								    	opacity: .9;
								    }
								}
							}
							.alternate {
								a {
									text-decoration: none;
									color: #fff;
                                    opacity: .7;
									@include p(transition, all .3s ease-out);
									&:hover {
										opacity: .9;
									}
								}
							}
						}
					}

				}
				&.how {
					.items{
						margin-bottom: 50px;
						.item {
							width: 33.333%;
							display: inline-block;
							float: left;
							padding: 0 40px;
							@include respond-to(max-mobile){
								width: 100%;
							}
							.thumb {
								@include respond-to(max-mobile){
									width: 250px;
									margin: 0 auto;
								}
								img {
									max-width: 100%;
								}
							}
							.title {
								font-family: $heading-font;
							    font-size: 18px;
							    line-height: 25px;
							    text-align: center;
							    padding: 0 15px;
							    margin-bottom: 15px;
							    @include respond-to(max-mobile){
									padding: 0 25px;
    								font-size: 17px
								}
							}
							.description {
								font-size: 12px;
							    line-height: 22px;
							    text-align: center;
							    @include respond-to(max-mobile){
									font-size: 12px;
								    line-height: 17px;
								    padding: 0 30px;
								}
							}
						}
					}
				}
				&.what {
                    .description {
                        padding: 50px;
                    }
                }
			}
		}

		.footer-mobile {
			display: none;
		    background: #f8f8f8;
		    border-top: 1px solid #ddd;
		    padding-top: 10px;
			@include respond-to(max-mobile){
				display: block;
			}
			td {
				padding-left: 20px;
				img {
					max-width: 20px;
				}
				label {
					font-size: 12px;
				    line-height: 20px;
				    color: #2D9DC7;
				}
			}
			.bottom {
				text-align: center;
			    display: block;
			    padding: 15px 0;
			    font-size: 9px;
			    color: #888;
			}
		}

	}
}
