a {
  text-decoration: none;
  cursor: pointer;
}

select,
button {
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  outline: none;
}
body .clearfix {
  display: inline-block;
}
body .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body * {
  box-sizing: border-box;
  outline: none;
}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: #fff;
}
body .loader .wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
}
body .loader .wrapper img {
  transform: translate(-50%, -50%);
}
body .main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .main .header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .header {
    display: none;
  }
}
body .main .header .logo {
  float: left;
  padding-top: 5px;
}
body .main .header .logo img {
  width: 140px;
}
body .main .header .menu {
  float: right;
}
body .main .header .menu ul {
  margin: 0;
  padding: 0;
}
body .main .header .menu ul li {
  display: inline-block;
}
body .main .header .menu ul li a {
  font-family: "Oxygen", arial;
  color: #fff;
  text-decoration: none;
  line-height: 40px;
  padding: 0 10px;
  border: 2px solid transparent;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .header .menu ul li a.selected {
  border-color: #fff;
}
body .main .header .menu ul li:hover a {
  border-color: #fff;
}
body .main .header .lang-menu {
  float: right;
  line-height: 42px;
  padding-left: 20px;
}
body .main .header .lang-menu a img {
  max-width: 30px;
  vertical-align: middle;
}
body .main .nav-mobile {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}
body .main .nav-mobile .logo {
  display: inline-block;
  float: left;
}
body .main .nav-mobile .logo a img {
  max-width: 110px;
}
body .main .nav-mobile .lang-menu {
  display: inline-block;
  float: right;
  line-height: 33px;
  padding-right: 10px;
}
body .main .nav-mobile .lang-menu a img {
  max-width: 24px;
}
body .main .nav-mobile .open-menu {
  display: inline-block;
  float: right;
}
body .main .nav-mobile .open-menu a {
  color: #fff;
  font-size: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .nav-mobile {
    display: block;
  }
}
body .main .menu-mobile {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 137, 189, 0.9);
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 75px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body .main .menu-mobile.open {
  opacity: 1;
}
body .main .menu-mobile .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}
body .main .menu-mobile ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .main .menu-mobile ul li {
  display: block;
  line-height: 35px;
}
body .main .menu-mobile ul li a {
  text-decoration: none;
  color: #fff;
}
body .main .menu-mobile .divider {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
body .main .menu-mobile .divider span {
  width: 75px;
  border-top: 1px solid #fff;
  display: inline-block;
}
body .main .general, body .main .page, body .main .innerpage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  min-height: 100%;
}
body .main .page {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 6;
}
body .main .page.down {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
@media only screen and (max-width: 1023px) {
  body .main .page {
    overflow: auto;
  }
}
body .main .page.home {
  background-color: #E66C6F;
  background-size: cover;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home {
    background-size: cover;
    background-position: right bottom;
  }
}
body .main .page.home .home-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .step1 .wrapper {
    padding-top: 0px;
  }
}
body .main .page.home .home-content .step1 .wrapper .desc-head-mobile {
  padding-top: 100px;
}
body .main .page.home .home-content .wrapper {
  width: 1024px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  padding-bottom: 140px;
}
@media only screen and (min-width: 1700px) {
  body .main .page.home .home-content .wrapper {
    bottom: 200px;
  }
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper {
    top: 0;
    padding-bottom: 0;
    padding-top: 100px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content .wrapper {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content .wrapper {
    padding-bottom: 100px;
  }
}
body .main .page.home .home-content .wrapper .desc-head-mobile {
  display: none;
  color: #fff;
  padding: 0 30px;
  text-align: left;
  margin-bottom: 25px;
  width: 80%;
}
body .main .page.home .home-content .wrapper .desc-head-mobile h2 {
  margin: 0;
  font-size: 22px;
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-head-mobile h2 {
    font-size: 17px;
  }
}
body .main .page.home .home-content .wrapper .desc-head-mobile p {
  -webkit-text-size-adjust: none;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  margin-top: 30px;
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-head-mobile p {
    margin-top: 20px;
  }
}
body .main .page.home .home-content .wrapper .desc-head-mobile .arrow-bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
body .main .page.home .home-content .wrapper .desc-head-mobile .arrow-bottom a {
  display: inline-block;
  width: 75px;
}
body .main .page.home .home-content .wrapper .desc-head-mobile .arrow-bottom a img {
  max-width: 100%;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-head-mobile {
    display: block;
  }
}
body .main .page.home .home-content .wrapper .desc-about {
  width: 450px;
  height: auto;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 70px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about {
    position: relative;
    bottom: inherit;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content .wrapper .desc-about {
    bottom: 130px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content .wrapper .desc-about {
    bottom: 130px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-greeting {
  clear: both;
  width: 100%;
  float: left;
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-greeting {
    display: none;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-greeting h2 {
  font-family: "Oxygen", arial;
  font-weight: 500;
  font-size: 41px;
  color: white;
  margin-bottom: 30px;
}
body .main .page.home .home-content .wrapper .desc-about .about-greeting p {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
  line-height: 22px;
  padding-left: 5px;
  margin-bottom: 20px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  opacity: .9;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form {
    background: #fff;
    opacity: 1;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .mobile-description {
  display: none;
  padding: 0 40px 20px;
  text-align: center;
  font-size: 11px;
  color: #777;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .mobile-description {
    display: block;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .about-error {
  position: absolute;
  bottom: 67px;
  left: 92px;
  color: #EF744F;
  font-size: 9px;
  width: 350px;
  text-align: left;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .about-error.phone {
  bottom: 126px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form label {
  clear: both;
  float: left;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset {
  clear: both;
  float: left;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset {
    padding: 20px 40px 40px;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset {
    padding: 5px 25px 20px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .loader-form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 458px;
  z-index: 4;
  display: none;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .loader-form img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper {
  display: inline-block;
  float: left;
  position: relative;
  margin-bottom: 6px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-telephone {
  width: 222px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-telephone {
    width: 100%;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-email {
  width: 222px;
  margin-left: 6px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-email {
    width: 100%;
    margin-left: 0;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-code {
  width: 450px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-code input {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.field-code {
    width: 100%;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="number"] {
  padding: 14px 15px;
  width: 100%;
  font-size: 17px;
  color: #555;
  border: 0;
  overflow: hidden;
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="number"] {
    width: 100%;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="number"] {
    -webkit-text-size-adjust: none;
    font-size: 12px;
    padding: 10px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper .notice {
  position: absolute;
  opacity: 0;
  bottom: 1px;
  left: 15px;
  font-size: 11px;
  color: #E74C3C;
  line-height: 12px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.error input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.error input[type="number"] {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
  -moz-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
  box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.error .notice {
  opacity: 1;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper:first-child {
  margin-right: 2px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
  display: inline-block;
  float: left;
  width: 450px;
  height: auto;
  background: #2e2e2e;
  border: 0;
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity .3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
    width: 100%;
    border: 0 !important;
    border-radius: 4px;
    font-size: 13px;
    padding: 14px 0;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
    -webkit-text-size-adjust: none;
    padding: 12px 10px;
    font-size: 12px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button:hover {
  opacity: .8;
}
body .main .page.home .home-content .wrapper .desc-about .about-footer-mobile {
  display: none;
  background: #f0f0f0;
  border-top: 1px solid #e6e6e6;
  padding: 20px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-footer-mobile {
    display: block;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-footer-mobile .logo img {
  max-width: 120px;
}
body .main .page.home .home-content .wrapper .desc-about .about-footer-mobile .copyright {
  -webkit-text-size-adjust: none;
  font-size: 10px;
  color: #ababab;
  margin-top: 15px;
}
body .main .page.home .home-content .wrapper .desc-after {
  width: 450px;
  height: auto;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 90px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after {
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content .wrapper .desc-after {
    bottom: 150px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content .wrapper .desc-after {
    bottom: 150px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .about-greeting {
  clear: both;
  width: 100%;
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .about-greeting {
    width: 80%;
    position: fixed;
    top: 60px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .about-greeting h2 {
  font-family: "Oxygen", arial;
  font-weight: 500;
  font-size: 41px;
  color: white;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .about-greeting h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-after .about-greeting h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .about-greeting p {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
  line-height: 22px;
  padding-left: 5px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .about-greeting p {
    -webkit-text-size-adjust: none;
    font-size: 12px;
    line-height: normal;
    padding-left: 0;
  }
}
body .main .page.home .home-content .wrapper .desc-after .about-box {
  background: #fff;
  padding: 25px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .about-box {
    padding: 20px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .about-box h2 {
  font-family: "Oxygen", arial;
  font-weight: 500;
  font-size: 32px;
  color: #02C557;
  margin-bottom: 10px;
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .about-box h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-after .about-box h2 {
    font-size: 17px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .about-box p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: #686868;
  line-height: 27px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .about-box p {
    font-size: 15px;
    line-height: normal;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-after .about-box p {
    -webkit-text-size-adjust: none;
    font-size: 12px;
  }
}
body .main .page.home .home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f8f8f8;
  z-index: 2;
  box-sizing: border-box;
  display: block;
  line-height: 50px;
  text-align: right;
  font-size: 11px;
  padding: 0 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-footer {
    display: none;
  }
}
body .main .page.home .home-footer .wrapper {
  width: 1024px;
  margin: 0 auto;
}
body .main .innerpage {
  color: #ffffff;
  background: #000;
}
body .main .innerpage .subpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #0089BD;
  color: #ffffff;
  opacity: 0;
  visibility: 0;
  padding-top: 80px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
body .main .innerpage .subpage.active {
  opacity: 1;
  z-index: 5;
  visibility: 1;
}
body .main .innerpage .subpage .wrapper {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage .wrapper {
    width: 100%;
  }
}
body .main .innerpage .subpage .wrapper .content {
  margin: 0 -40px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage .wrapper .content {
    margin: 0;
  }
}
body .main .innerpage .subpage .wrapper .content > .title h1 {
  text-align: center;
  font-size: 27px;
  font-family: "Oxygen", arial;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage .wrapper .content > .title h1 {
    font-size: 23px;
  }
}
body .main .innerpage .subpage .wrapper .content .nav {
  text-align: center;
}
body .main .innerpage .subpage .wrapper .content .nav .button {
  margin-bottom: 10px;
}
body .main .innerpage .subpage .wrapper .content .nav .button a {
  text-decoration: none;
  font-family: "Oxygen", arial;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  background: #FFBC08;
  line-height: 50px;
  display: inline-block;
  padding: 0px 25px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .innerpage .subpage .wrapper .content .nav .button a:hover {
  opacity: .9;
}
body .main .innerpage .subpage .wrapper .content .nav .alternate a {
  text-decoration: none;
  color: #fff;
  opacity: .7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .innerpage .subpage .wrapper .content .nav .alternate a:hover {
  opacity: .9;
}
body .main .innerpage .subpage.how .items {
  margin-bottom: 50px;
}
body .main .innerpage .subpage.how .items .item {
  width: 33.333%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item .thumb {
    width: 250px;
    margin: 0 auto;
  }
}
body .main .innerpage .subpage.how .items .item .thumb img {
  max-width: 100%;
}
body .main .innerpage .subpage.how .items .item .title {
  font-family: "Oxygen", arial;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item .title {
    padding: 0 25px;
    font-size: 17px;
  }
}
body .main .innerpage .subpage.how .items .item .description {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item .description {
    font-size: 12px;
    line-height: 17px;
    padding: 0 30px;
  }
}
body .main .innerpage .subpage.what .description {
  padding: 50px;
}
body .main .footer-mobile {
  display: none;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
@media only screen and (max-width: 1023px) {
  body .main .footer-mobile {
    display: block;
  }
}
body .main .footer-mobile td {
  padding-left: 20px;
}
body .main .footer-mobile td img {
  max-width: 20px;
}
body .main .footer-mobile td label {
  font-size: 12px;
  line-height: 20px;
  color: #2D9DC7;
}
body .main .footer-mobile .bottom {
  text-align: center;
  display: block;
  padding: 15px 0;
  font-size: 9px;
  color: #888;
}

/*# sourceMappingURL=promo.css.map */
