a {
  text-decoration: none;
  cursor: pointer;
}

select,
button {
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  outline: none;
}
body .clearfix {
  display: inline-block;
}
body .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body * {
  box-sizing: border-box;
  outline: none;
}
body .loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: #fff;
}
body .loader .wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
}
body .loader .wrapper img {
  transform: translate(-50%, -50%);
}
body .main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .main .header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .header {
    display: none;
  }
}
body .main .header .logo {
  float: left;
  padding-top: 5px;
}
body .main .header .logo img {
  width: 140px;
}
body .main .header .menu {
  float: right;
}
body .main .header .menu ul {
  margin: 0;
  padding: 0;
}
body .main .header .menu ul li {
  display: inline-block;
}
body .main .header .menu ul li a {
  font-family: "Oxygen", arial;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 10px;
  border: 2px solid transparent;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .header .menu ul li a.selected {
  border-color: #fff;
}
body .main .header .menu ul li:hover a {
  border-color: #fff;
}
body .main .header .lang-menu {
  float: right;
  line-height: 42px;
  padding-left: 20px;
}
body .main .header .lang-menu a img {
  max-width: 30px;
  vertical-align: middle;
}
body .main .nav-mobile {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}
body .main .nav-mobile .logo {
  display: inline-block;
  float: left;
}
body .main .nav-mobile .logo a img {
  max-width: 110px;
}
body .main .nav-mobile .lang-menu {
  display: inline-block;
  float: right;
  line-height: 33px;
  padding-right: 10px;
}
body .main .nav-mobile .lang-menu a img {
  max-width: 24px;
}
body .main .nav-mobile .open-menu {
  display: inline-block;
  float: right;
}
body .main .nav-mobile .open-menu a {
  color: #fff;
  font-size: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .nav-mobile {
    display: block;
  }
}
body .main .menu-mobile {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 137, 189, 0.9);
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 75px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body .main .menu-mobile.open {
  opacity: 1;
}
body .main .menu-mobile .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}
body .main .menu-mobile ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .main .menu-mobile ul li {
  display: block;
  line-height: 35px;
}
body .main .menu-mobile ul li a {
  text-decoration: none;
  color: #fff;
}
body .main .menu-mobile .divider {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
body .main .menu-mobile .divider span {
  width: 75px;
  border-top: 1px solid #fff;
  display: inline-block;
}
body .main .general, body .main .page, body .main .innerpage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  min-height: 100%;
}
body .main .page {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 6;
}
body .main .page.down {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
@media only screen and (max-width: 1023px) {
  body .main .page {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
body .main .page.home {
  background: url(https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/background/mainBackground5.jpg) no-repeat center center;
  background-color: #000;
  background-size: cover;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home {
    background: url(https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/background/mobile-mainBackground5.jpg) no-repeat center center;
    background-size: cover;
  }
}
body .main .page.home .home-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content {
    position: relative;
  }
}
body .main .page.home .home-content .wrapper {
  width: 1024px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  padding-bottom: 140px;
}
@media only screen and (min-width: 1700px) {
  body .main .page.home .home-content .wrapper {
    bottom: 200px;
  }
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper {
    top: 0;
    padding-bottom: 0;
    padding-top: 100px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content .wrapper {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content .wrapper {
    padding-bottom: 100px;
  }
}
body .main .page.home .home-content .wrapper .desc-head-mobile {
  display: none;
  color: #fff;
  padding: 0 30px;
  text-align: center;
  margin-bottom: 25px;
}
body .main .page.home .home-content .wrapper .desc-head-mobile h2 {
  margin: 0;
  font-size: 24px;
}
body .main .page.home .home-content .wrapper .desc-head-mobile p {
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  margin-top: 5px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-head-mobile {
    display: block;
  }
}
body .main .page.home .home-content .wrapper .desc-chat {
  font-weight: 300;
  width: 50%;
  min-height: 570px;
  min-width: 50%;
  height: 470px;
  float: left;
  line-height: 30px;
  letter-spacing: 1.2px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-mask-image: -webkit-linear-gradient(top, transparent 0%, rgba(252, 252, 252, 0.1) 5%, #fcfcfc 20%);
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-chat {
    min-height: 300px;
    height: 300px;
    width: 300px;
    margin: 0 auto 10px;
    float: none;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.home .home-content .wrapper .desc-chat {
    min-height: 280px;
    width: 280px;
  }
}
body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper {
  position: absolute;
  bottom: 0;
  transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 0;
  overflow: hidden;
}
body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item {
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: transparent;
  border-radius: 15px;
  padding: 11px 25px;
  margin-bottom: 15px;
  margin-right: 50px;
  min-height: 53px;
  min-width: 400px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
  transition: opacity 1s ease-out;
  opacity: 0;
  line-height: 25px;
  /*&:last-child {
    margin-bottom: 20px;
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item {
    max-width: 270px;
    min-width: 270px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    margin-bottom: 10px;
    min-height: 40px;
  }
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item {
    max-width: 250px;
    min-width: 250px;
  }
}
body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item.white {
  background: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  color: #f1f1f1;
  margin-left: 50px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item.white {
    margin-left: 30px;
  }
}
body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item.black {
  margin-right: 100px;
}
body .main .page.home .home-content .wrapper .desc-chat .desc-chat-wrapper .desc-chat-item:first-child {
  margin-top: 20px;
}
body .main .page.home .home-content .wrapper .desc-about {
  width: 50%;
  height: auto;
  text-align: left;
  position: absolute;
  right: 0;
  bottom: 170px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about {
    position: relative;
    bottom: inherit;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-content .wrapper .desc-about {
    bottom: 130px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-content .wrapper .desc-about {
    bottom: 130px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-greeting {
  clear: both;
  width: 100%;
  float: left;
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-greeting {
    display: none;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-greeting h2 {
  font-family: "Oxygen", arial;
  font-weight: 500;
  font-size: 41px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 12px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
body .main .page.home .home-content .wrapper .desc-about .about-greeting p {
  font-weight: 100;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  padding-left: 5px;
  padding-right: 50px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
body .main .page.home .home-content .wrapper .desc-about .about-form {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  opacity: .9;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form {
    background: #fff;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .about-error {
  position: absolute;
  bottom: 67px;
  left: 92px;
  color: #EF744F;
  font-size: 9px;
  width: 350px;
  text-align: left;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .about-error.phone {
  bottom: 126px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form label {
  clear: both;
  float: left;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset {
  clear: both;
  float: left;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset {
    padding: 20px 40px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset {
    padding: 15px 30px 30px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .loader-form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 458px;
  z-index: 4;
  display: none;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .loader-form {
    width: 100%;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .loader-form img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper {
  display: inline-block;
  float: left;
  border: 4px solid rgba(0, 0, 0, 0.1);
  margin-right: 4px;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="number"] {
  padding: 14px 20px;
  width: 450px;
  font-size: 17px;
  color: #555;
  border: 0;
  overflow: hidden;
  position: relative;
  left: 0;
  padding-left: 85px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type="number"] {
    width: 100%;
    border-radius: 4px;
    padding: 12px 20px 12px 65px;
    font-size: 15px;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper .icon-input {
  text-align: center;
  background: #f2f2f2;
  height: 48px;
  width: 65px;
  position: absolute;
  padding: 15px 5px 12px 5px;
  left: 0;
  z-index: 3;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper .icon-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: initial;
    width: 55px;
    bottom: 0;
    top: 0;
    padding: 12px 0;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper .icon-input img {
  display: block;
  margin: 0 auto;
  width: 28px;
  align: center;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper .notice {
  position: absolute;
  opacity: 0;
  bottom: 1px;
  left: 85px;
  font-size: 11px;
  color: #E74C3C;
  line-height: 12px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.error input[type="text"], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.error input[type="number"] {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
  -moz-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
  box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper.error .notice {
  opacity: 1;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper:first-child {
  margin-right: 2px;
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
  display: inline-block;
  float: left;
  width: 458px;
  height: auto;
  background: #FFBC08;
  border: 4px solid rgba(0, 0, 0, 0.1) !important;
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  color: #000000;
  text-align: center;
  padding: 16px 0;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: background .3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
    width: 100%;
    border: 0 !important;
    border-radius: 4px;
    font-size: 13px;
    padding: 14px 0;
  }
}
body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button:hover {
  background: #F1BC2C;
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.1);
}
body .main .page.home .home-content .wrapper .desc-about .about-form .special {
  float: right;
  clear: both;
  width: 100%;
  text-align: right;
  margin-top: 20px;
  font-size: 11px;
  padding-right: 60px;
  color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-about .about-form .special {
    display: none;
  }
}
body .main .page.home .home-content .wrapper .desc-after {
  width: 480px;
  margin: 0 auto 50px;
  color: #fff;
  text-align: center;
}
body .main .page.home .home-content .wrapper .desc-after.reva {
  margin-bottom: 0;
}
body .main .page.home .home-content .wrapper .desc-after.reva .box {
  height: auto;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
  }
}
body .main .page.home .home-content .wrapper .desc-after .title h2 {
  margin: 0;
  font-size: 41px;
  font-weight: 500;
  font-family: "Oxygen", arial;
  margin-bottom: 12px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .title h2 {
    font-size: 27px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .description {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  line-height: 24px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .description {
    font-size: 15px;
    padding: 0 20px;
    line-height: 20px;
    margin-bottom: 35px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .box {
  height: 155px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
}
body .main .page.home .home-content .wrapper .desc-after .box-title {
  text-align: center;
  overflow: hidden;
}
body .main .page.home .home-content .wrapper .desc-after .box-title h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}
body .main .page.home .home-content .wrapper .desc-after .box-title h3:before {
  content: '';
  position: absolute;
  border-top: 1px solid #fff;
  right: 100%;
  width: 100px;
  margin-right: 15px;
  top: 49%;
}
body .main .page.home .home-content .wrapper .desc-after .box-title h3:after {
  content: '';
  position: absolute;
  border-top: 1px solid #fff;
  left: 100%;
  width: 100px;
  margin-left: 15px;
  top: 49%;
}
body .main .page.home .home-content .wrapper .desc-after .box-title h3 span {
  color: #62B4EF;
  font-weight: bold;
  font-size: 15px;
}
body .main .page.home .home-content .wrapper .desc-after .box-content {
  font-size: 30px;
  font-weight: 600;
  margin: 35px 0;
  text-align: center;
  color: #FFBC08;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .box-content {
    font-size: 22px;
  }
}
body .main .page.home .home-content .wrapper .desc-after .box-social {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .box-social {
    width: 100%;
  }
}
body .main .page.home .home-content .wrapper .desc-after .box-social a {
  display: inline-block;
  width: 100px;
  float: left;
  vertical-align: top;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .desc-after .box-social a {
    width: 33.33%;
  }
}
body .main .page.home .home-content .wrapper .desc-after .box-social a.facebook {
  background-color: #3C5A96;
}
body .main .page.home .home-content .wrapper .desc-after .box-social a.twitter {
  background-color: #59ADEB;
}
body .main .page.home .home-content .wrapper .desc-after .box-social a.whatsapp {
  background-color: #32B01E;
}
body .main .page.home .home-content .wrapper .desc-after .box-social a:hover {
  opacity: .8;
}
body .main .page.home .home-content .wrapper .step {
  padding: 0 20px;
  margin: 0 auto;
  display: inline-block;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-content .wrapper .step {
    display: none;
  }
}
body .main .page.home .home-content .wrapper .step .item {
  display: inline-block;
  font-weight: 100;
  float: left;
  padding: 10px 20px;
  text-align: center;
}
body .main .page.home .home-content .wrapper .step .item i {
  color: #89D133;
}
body .main .page.home .home-content .img-store, body .main .page.home .home-content .img-store-mobile {
  display: none;
}
body .main .page.home .home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  color: #0D648D;
  font-weight: 600;
  opacity: .9;
  box-sizing: border-box;
  display: block;
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .home-footer {
    display: none;
  }
}
body .main .page.home .home-footer img, body .main .page.home .home-footer label {
  display: inline-block;
  vertical-align: middle;
  line-height: 75px;
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  body .main .page.home .home-footer img, body .main .page.home .home-footer label {
    line-height: 50px;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 600px) {
  body .main .page.home .home-footer img, body .main .page.home .home-footer label {
    line-height: 50px;
  }
}
body .main .page.home .home-footer img {
  height: 40px;
}
body .main .page.home .home-footer .bottom {
  border-top: 1px solid #d8d8d8;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
body .main .page.home .home-footer .bottom .copyright {
  display: inline-block;
  float: left;
  font-size: 10px;
  color: #ababab;
  font-weight: 400;
  line-height: 30px;
}
body .main .page.home .home-footer .bottom .nav {
  float: right;
  display: inline-block;
}
body .main .page.home .home-footer .bottom .nav ul {
  padding: 0;
  margin: 0;
  line-height: normal;
}
body .main .page.home .home-footer .bottom .nav ul li {
  display: inline-block;
}
body .main .page.home .home-footer .bottom .nav ul li a {
  font-size: 10px;
  font-weight: 400;
  color: #ababab;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 5px;
  line-height: 30px;
}
body .main .page.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1023px) {
  body .main .page.home .overlay {
    display: none;
  }
}
body .main .page.press {
  background: #0089BD;
}
body .main .page.press > .wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 80px 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper {
    width: 100%;
    padding: 80px 30px 0;
    background: #0089BD;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body .main .page.press > .wrapper .title, body .main .page.press > .wrapper .subtitle, body .main .page.press > .wrapper .items, body .main .page.press > .wrapper .nav {
  position: relative;
  z-index: 1;
}
body .main .page.press > .wrapper .title {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
body .main .page.press > .wrapper .title h2 {
  font-family: "Oxygen", arial;
  font-weight: 700;
  font-size: 33px;
  margin: 0;
  line-height: 33px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .title h2 {
    font-size: 25px;
  }
}
body .main .page.press > .wrapper .subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 75px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .subtitle {
    margin-bottom: 50px;
  }
}
body .main .page.press > .wrapper .subtitle h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 21px;
  font-weight: 100;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .subtitle h3 {
    font-size: 18px;
  }
}
body .main .page.press > .wrapper .items {
  width: 100%;
  margin-bottom: 70px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .items {
    width: 250px;
    margin: 0 auto 50px;
    display: block;
  }
}
body .main .page.press > .wrapper .items .inner {
  margin: 0 -5px;
}
body .main .page.press > .wrapper .items .inner .item {
  width: 20%;
  display: inline-block;
  float: left;
  padding: 5px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .items .inner .item {
    width: 50%;
  }
}
body .main .page.press > .wrapper .items .inner .item a {
  display: block;
  height: 100px;
  background: #fff;
  line-height: 100px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .items .inner .item a {
    height: 64px;
    line-height: 64px;
  }
}
body .main .page.press > .wrapper .items .inner .item a img {
  max-width: 80%;
  vertical-align: middle;
}
body .main .page.press > .wrapper .nav {
  text-align: center;
}
body .main .page.press > .wrapper .nav .button {
  margin-bottom: 10px;
}
body .main .page.press > .wrapper .nav .button a {
  display: inline-block;
  text-decoration: none;
  background: #FFBC08;
  line-height: 54px;
  padding: 0 25px;
  font-family: "Oxygen", arial;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .nav .button a {
    font-size: 15px;
    line-height: 49px;
    padding: 0px 17px;
  }
}
body .main .page.press > .wrapper .nav .button a img {
  width: 28px;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -8px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .nav .button a img {
    width: 16px;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -4px;
  }
}
body .main .page.press > .wrapper .nav .button a:hover {
  background: rgba(255, 188, 8, 0.9);
}
body .main .page.press > .wrapper .nav .alternate a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.press > .wrapper .nav .alternate a {
    font-size: 13px;
  }
}
body .main .page.press > .wrapper .nav .alternate a:hover {
  color: rgba(255, 255, 255, 0.8);
}
body .main .page.press > .wrapper .footer-mobile {
  margin: 50px -30px 0;
  border-top: 0;
}
body .main .page.contact {
  background: #0089BD;
}
body .main .page.contact > .wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 80px 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper {
    width: 100%;
    padding: 80px 30px 0;
    background: #0089BD;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body .main .page.contact > .wrapper .title, body .main .page.contact > .wrapper .subtitle, body .main .page.contact > .wrapper .items {
  position: relative;
  z-index: 1;
}
body .main .page.contact > .wrapper .title {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
body .main .page.contact > .wrapper .title h2 {
  font-family: "Oxygen", arial;
  font-weight: 700;
  font-size: 33px;
  margin: 0;
  line-height: 33px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper .title h2 {
    font-size: 25px;
  }
}
body .main .page.contact > .wrapper .subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 75px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper .subtitle {
    margin-bottom: 50px;
  }
}
body .main .page.contact > .wrapper .subtitle h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 21px;
  font-weight: 100;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper .subtitle h3 {
    font-size: 18px;
  }
}
body .main .page.contact > .wrapper .items {
  width: 100%;
  margin-bottom: 70px;
  padding: 0 200px;
  color: #fff;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper .items {
    padding: 0;
  }
}
body .main .page.contact > .wrapper .items > div {
  display: inline-block;
  float: left;
  padding: 0 30px;
}
body .main .page.contact > .wrapper .items > div .item {
  margin-bottom: 15px;
}
body .main .page.contact > .wrapper .items > div .item span {
  display: block;
}
body .main .page.contact > .wrapper .items .left {
  text-align: right;
  width: 55%;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper .items .left {
    text-align: center;
    padding: 0;
    width: 100%;
  }
}
body .main .page.contact > .wrapper .items .right {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  width: 45%;
}
@media only screen and (max-width: 1023px) {
  body .main .page.contact > .wrapper .items .right {
    text-align: center;
    padding: 0;
    width: 100%;
    border: 0;
  }
}
body .main .page.contact > .wrapper .footer-mobile {
  margin: 50px -30px 0;
  border-top: 0;
}
body .main .page.business {
  background: #0089BD;
}
body .main .page.business > .wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 80px 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.business > .wrapper {
    width: 100%;
    padding: 80px 30px 0;
    background: #0089BD;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body .main .page.business > .wrapper .title, body .main .page.business > .wrapper .subtitle, body .main .page.business > .wrapper .fields {
  position: relative;
  z-index: 1;
}
body .main .page.business > .wrapper .title {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
body .main .page.business > .wrapper .title h2 {
  font-family: "Oxygen", arial;
  font-weight: 700;
  font-size: 33px;
  margin: 0;
  line-height: 33px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.business > .wrapper .title h2 {
    font-size: 25px;
  }
}
body .main .page.business > .wrapper .subtitle {
  text-align: center;
  color: #FFF;
  width: 400px;
  margin: 0 auto 25px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.business > .wrapper .subtitle {
    margin-bottom: 30px;
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.business > .wrapper .subtitle {
    width: 100%;
  }
}
body .main .page.business > .wrapper .subtitle h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.business > .wrapper .subtitle h3 {
    font-size: 15px;
    line-height: 18px;
  }
}
body .main .page.business > .wrapper .image {
  width: 250px;
  margin: 0 auto 20px;
}
body .main .page.business > .wrapper .image img {
  max-width: 100%;
}
body .main .page.business > .wrapper a.link {
  text-align: center;
  font-family: "Oxygen", arial;
  padding: 10px 0px;
  border-radius: 4px;
  font-size: 15px;
  color: #000000;
  line-height: 22px;
  background: #FFBC08;
  border: 1px solid #FFBC08;
  font-weight: bold;
  cursor: pointer;
  width: 400px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1023px) {
  body .main .page.business > .wrapper a.link {
    font-size: 14px;
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  body .main .page.business > .wrapper a.link {
    width: 100%;
  }
}
body .main .page.business > .wrapper a.link:hover {
  background: rgba(255, 188, 8, 0.9);
}
body .main .page.business > .wrapper .footer-mobile {
  margin: 50px -30px 0;
  border-top: 0;
}
body .main .page.jobs {
  background: #0089BD;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .main .page.jobs .overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  z-index: 3;
  background: #0089BD;
  background: -moz-linear-gradient(top, #0089bd 0%, rgba(0, 137, 189, 0.3) 70%, rgba(229, 229, 229, 0) 100%);
  background: -webkit-linear-gradient(top, #0089bd 0%, rgba(0, 137, 189, 0.3) 70%, rgba(229, 229, 229, 0) 100%);
  background: linear-gradient(to bottom, #0089bd 0%, rgba(0, 137, 189, 0.3) 70%, rgba(229, 229, 229, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089bd', endColorstr='#00e5e5e5',GradientType=0 );
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs .overlay {
    position: relative;
    height: 0;
  }
}
body .main .page.jobs > .wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 80px 140px;
  z-index: 2;
  /*.wrapper{
      width: 750px;
      @include respond-to(max-mobile) {
          width: 100%;
          max-width: 500px;
      }
      @include respond-to(large-desktop) {
          width: get-vw(750px);
      }
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper {
    width: 100%;
    padding: 80px 30px 0;
  }
}
body .main .page.jobs > .wrapper .title {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
body .main .page.jobs > .wrapper .title h2 {
  font-family: "Oxygen", arial;
  font-weight: 700;
  font-size: 33px;
  margin: 0;
  line-height: 33px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .title h2 {
    font-size: 25px;
  }
}
body .main .page.jobs > .wrapper .subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}
body .main .page.jobs > .wrapper .subtitle h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 21px;
  font-weight: 100;
}
body .main .page.jobs > .wrapper p.titleDesc {
  margin-bottom: 25px;
  /*@include respond-to(large-desktop) {
      margin-bottom: get-vw(25px);
  } */
}
body .main .page.jobs > .wrapper .hireDivider {
  width: 53px;
  border-bottom: 2px solid #fff;
  opacity: .333;
  margin: 0 auto 25px;
  /*@include respond-to(large-desktop) {
      width: get-vw(53px);
      border-bottom: get-vw(2px) solid #fff;
      margin: 0 auto get-vw(25px);
  }*/
}
body .main .page.jobs > .wrapper .subTitleDesc {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin: 0 auto 50px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 23px;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(15px);
      letter-spacing: get-vw(1px);
      line-height: get-vw(23px);
      margin: 0 auto get-vw(50px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .subTitleDesc {
    margin: 0 auto 30px;
    font-size: 14;
    font-weight: 300;
    text-align: center;
  }
}
body .main .page.jobs > .wrapper .hiring-title {
  font-size: 25px;
  line-height: normal;
  color: #fff;
  text-align: center;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(25px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-title {
    font-size: 22px;
    margin: 10px 0;
  }
}
body .main .page.jobs > .wrapper .hiring-position {
  display: block;
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-position {
    text-align: center;
  }
}
body .main .page.jobs > .wrapper .hiring-position .hiring-subposition {
  width: 50%;
  display: inline-block;
  float: left;
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-position .hiring-subposition {
    width: 100%;
    text-align: center;
  }
}
body .main .page.jobs > .wrapper .hiring-position .hiring-item {
  margin-top: 40px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-position .hiring-item {
    margin-top: 30px;
  }
}
body .main .page.jobs > .wrapper .hiring-position .hiring-item h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  font-family: 'Open Sans';
  color: #fff;
  margin-bottom: 9px;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(16px);
      margin-bottom: get-vw(9px);
  } */
}
body .main .page.jobs > .wrapper .hiring-position .hiring-item ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body .main .page.jobs > .wrapper .hiring-position .hiring-item ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  display: block;
  padding: 9px 0;
  font-size: 16px;
  color: #FBD74A;
  text-decoration: none;
  transition: all .3s ease-out;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(16px);
      padding: get-vw(9px) 0;
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-position .hiring-item ul li a {
    padding: 3px 0;
  }
}
body .main .page.jobs > .wrapper .hiring-position .hiring-item ul li a:hover {
  text-decoration: underline;
}
body .main .page.jobs > .wrapper .hiring-position .hiring-item ul li .item-prop {
  display: none;
}
body .main .page.jobs > .wrapper .hiring-bottom {
  display: block;
  clear: both;
  padding: 75px 0 50px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #fff;
  line-height: 21px;
  /*@include respond-to(large-desktop) {
      padding: get-vw(75px) 0 get-vw(50px);
      line-height: get-vw(21px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-bottom {
    padding: 45px 0 50px;
  }
}
body .main .page.jobs > .wrapper .hiring-bottom a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}
body .main .page.jobs > .wrapper .hiring-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  z-index: 1000;
  padding: 20px 25px;
  /*@include respond-to(large-desktop) {
      padding: get-vw(20px) get-vw(25px);
  }
  @include respond-to(max-mobile) {
      padding: 20px 30px;
  }*/
  overflow: auto;
  /*@include respond-to(max-mobile){
  	position: relative;
  }*/
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-nav {
  display: block;
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-nav .hiring-logo {
  width: 145px;
  height: auto;
  float: left;
  /*@include respond-to(large-desktop) {
      width: get-vw(145px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-nav .hiring-logo {
    width: 110px;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-nav .hiring-logo img {
  width: 100%;
  height: auto;
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-nav .hiring-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 25px;
  line-height: 25px;
  /*@include respond-to(large-desktop) {
      width: get-vw(20px);
  }
  @include respond-to(max-mobile) {
      width: 15px;
  }*/
}
body .main .page.jobs > .wrapper .hiring-modal .wrapper {
  clear: both;
  width: 750px;
  margin: auto;
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .wrapper {
    width: 100%;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content {
  color: #ffffff;
  padding: 5px;
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop h1 {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #FFBC08;
  margin-bottom: 50px;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(30px);
      margin-bottom: get-vw(50px);
      margin-top: get-vw(30px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop h1 {
    font-size: 21px;
    margin-bottom: 25px;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-description {
  font-family: "Open Sans";
  font-size: 17px;
  margin-bottom: 50px;
  line-height: 25px;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(17px);
      line-height: get-vw(25px);
      margin-bottom: get-vw(50px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content {
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 17px;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(17px);
      line-height: get-vw(25px);
      margin-bottom: get-vw(50px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content {
    margin-bottom: 0;
    font-size: 14px;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 21px;
  position: relative;
  text-transform: capitalize;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(21px);
      margin-bottom: get-vw(25px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .title {
    color: #21AFE4;
    border-bottom: 1px solid #979797;
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 16px;
    cursor: pointer;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .title i {
  position: absolute;
  right: 0;
  top: 15px;
  display: none;
  /* @include respond-to(large-desktop) {
       top: get-vw(15px);
   }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .title i {
    display: block;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .list {
  /*@include respond-to(max-mobile) {
      display: none;
  }*/
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .list ul {
  list-style-type: circle;
  padding-left: 30px;
  /*@include respond-to(large-desktop) {
      padding-left: get-vw(30px);
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-details .item-content .list ul {
    padding: 20px;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-bottom {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 70px;
  /*@include respond-to(large-desktop) {
      margin-top: get-vw(70px);
      margin-bottom: get-vw(25px);
  }
  @include respond-to(max-mobile) {
      margin-top: 40px;
  }*/
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-bottom a:first-child {
  text-decoration: none;
  clear: both;
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  color: #000000;
  line-height: 22px;
  background: #FFBC08;
  border: 1px solid #FFBC08;
  width: 300px;
  position: relative;
  display: inline-block;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(17px);
      width: get-vw(300px);
      line-height: get-vw(22px);
      border-radius: get-vw(4px);
      padding: get-vw(12px) 0;
      border: get-vw(1px) solid #FFBC08;
  }*/
}
@media only screen and (max-width: 1023px) {
  body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-bottom a:first-child {
    font-size: 14px;
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
    border-radius: 3px;
  }
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-bottom a:first-child i {
  padding-right: 10px;
}
body .main .page.jobs > .wrapper .hiring-modal .hiring-content .item-prop .item-bottom .item-back {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 100;
  color: #fff;
  display: block;
  margin-top: 25px;
  /*@include respond-to(large-desktop) {
      font-size: get-vw(17px);
      margin-top: get-vw(25px);
  }
  @include respond-to(max-mobile) {
      font-size: 14px;
      margin-top: 20px;
  }*/
}
body .main .page.jobs > .wrapper .footer-mobile {
  margin: -10px -30px -80px;
  border-top: 0;
}
body .main .page.terms {
  background: #0089BD;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .main .page.terms .overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  z-index: 3;
  background: #0089BD;
  background: -moz-linear-gradient(top, #0089bd 0%, rgba(0, 137, 189, 0.3) 70%, rgba(229, 229, 229, 0) 100%);
  background: -webkit-linear-gradient(top, #0089bd 0%, rgba(0, 137, 189, 0.3) 70%, rgba(229, 229, 229, 0) 100%);
  background: linear-gradient(to bottom, #0089bd 0%, rgba(0, 137, 189, 0.3) 70%, rgba(229, 229, 229, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089bd', endColorstr='#00e5e5e5',GradientType=0 );
}
@media only screen and (max-width: 1023px) {
  body .main .page.terms .overlay {
    position: relative;
    height: 0;
  }
}
body .main .page.terms > .wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 80px 140px;
  z-index: 2;
  color: #fff;
}
@media only screen and (max-width: 1023px) {
  body .main .page.terms > .wrapper {
    width: 100%;
    padding: 80px 30px 0;
  }
}
body .main .page.terms > .wrapper .title {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
body .main .page.terms > .wrapper .title h2 {
  font-family: "Oxygen", arial;
  font-weight: 700;
  font-size: 33px;
  margin: 0;
  line-height: 33px;
}
@media only screen and (max-width: 1023px) {
  body .main .page.terms > .wrapper .title h2 {
    font-size: 25px;
  }
}
body .main .page.terms > .wrapper .terms-desc-top {
  margin-top: 30px;
}
body .main .page.terms > .wrapper .terms-item {
  padding-top: 20px;
}
body .main .page.terms > .wrapper .item {
  font-weight: bold;
}
body .main .page.terms > .wrapper ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body .main .page.terms > .wrapper ul li {
  padding-left: 30px;
  position: relative;
}
body .main .page.terms > .wrapper ul li span {
  position: absolute;
  left: 0;
}
body .main .page.terms > .wrapper .terms-desc-bottom {
  margin-top: 30px;
  margin-bottom: 80px;
}
body .main .page.terms > .wrapper .footer-mobile {
  margin: -10px -30px -80px;
  border-top: 0;
}
body .main .innerpage {
  color: #ffffff;
  background: #000;
}
body .main .innerpage .subpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #0089BD;
  color: #ffffff;
  opacity: 0;
  visibility: 0;
  padding-top: 80px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
body .main .innerpage .subpage.active {
  opacity: 1;
  z-index: 5;
  visibility: 1;
}
body .main .innerpage .subpage .wrapper {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage .wrapper {
    width: 100%;
  }
}
body .main .innerpage .subpage .wrapper .content {
  margin: 0 -40px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage .wrapper .content {
    margin: 0;
  }
}
body .main .innerpage .subpage .wrapper .content > .title h1 {
  text-align: center;
  font-size: 27px;
  font-family: "Oxygen", arial;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage .wrapper .content > .title h1 {
    font-size: 23px;
  }
}
body .main .innerpage .subpage .wrapper .content .nav {
  text-align: center;
}
body .main .innerpage .subpage .wrapper .content .nav .button {
  margin-bottom: 10px;
}
body .main .innerpage .subpage .wrapper .content .nav .button a {
  text-decoration: none;
  font-family: "Oxygen", arial;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  background: #FFBC08;
  line-height: 50px;
  display: inline-block;
  padding: 0px 20px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .innerpage .subpage .wrapper .content .nav .button a:hover {
  background: rgba(255, 188, 8, 0.9);
}
body .main .innerpage .subpage .wrapper .content .nav .alternate a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body .main .innerpage .subpage .wrapper .content .nav .alternate a:hover {
  color: rgba(255, 255, 255, 0.9);
}
body .main .innerpage .subpage.how .items {
  margin-bottom: 50px;
}
body .main .innerpage .subpage.how .items .item {
  width: 33.333%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item .thumb {
    width: 250px;
    margin: 0 auto;
  }
}
body .main .innerpage .subpage.how .items .item .thumb img {
  max-width: 100%;
}
body .main .innerpage .subpage.how .items .item .title {
  font-family: "Oxygen", arial;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item .title {
    padding: 0 25px;
    font-size: 17px;
  }
}
body .main .innerpage .subpage.how .items .item .description {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.how .items .item .description {
    font-size: 12px;
    line-height: 17px;
    padding: 0 30px;
  }
}
body .main .innerpage .subpage.testimonial .content {
  margin: 0 -20px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .content {
    margin: 0;
  }
}
body .main .innerpage .subpage.testimonial .items {
  margin-top: 70px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items {
    margin-top: 50px;
  }
}
body .main .innerpage .subpage.testimonial .items .item {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 20px 0 90px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items .item {
    width: 100%;
    padding: 0 30px;
    text-align: center;
  }
}
body .main .innerpage .subpage.testimonial .items .item .thumb {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 20px;
  top: 0;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items .item .thumb {
    position: relative;
    margin: 0 auto 20px;
    left: initial;
    width: 100px;
    height: 100px;
  }
}
body .main .innerpage .subpage.testimonial .items .item .thumb img {
  max-width: 100%;
}
body .main .innerpage .subpage.testimonial .items .item .words {
  background: #fff;
  color: #262626;
  font-size: 13px;
  font-style: italic;
  padding: 15px 18px;
  border-radius: 4px;
  line-height: 18px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items .item .words {
    background: transparent;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
body .main .innerpage .subpage.testimonial .items .item .meta {
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items .item .meta {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
  }
}
body .main .innerpage .subpage.testimonial .items .item .meta .description {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items .item .meta .description {
    display: none;
  }
}
body .main .innerpage .subpage.testimonial .items .item .twitter {
  text-align: right;
  font-size: 13px;
  font-style: italic;
  line-height: 13px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.testimonial .items .item .twitter {
    display: none;
  }
}
body .main .innerpage .subpage.testimonial .items .item .twitter a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
body .main .innerpage .subpage.faq .content {
  margin: 0;
  padding: 0 100px 100px;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.faq .content {
    padding: 0 30px 50px;
  }
}
body .main .innerpage .subpage.faq .items {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
body .main .innerpage .subpage.faq .items .item {
  background: #0B94C9;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
body .main .innerpage .subpage.faq .items .item.open {
  background: #006890;
}
body .main .innerpage .subpage.faq .items .item .title {
  font-family: "Oxygen", arial;
  font-size: 16px;
  padding: 15px 10px;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.faq .items .item .title {
    font-size: 15px;
    padding: 10px;
  }
}
body .main .innerpage .subpage.faq .items .item .description {
  padding: 5px 20px 20px;
  display: none;
}
@media only screen and (max-width: 1023px) {
  body .main .innerpage .subpage.faq .items .item .description {
    font-size: 12px;
    padding: 5px 20px 10px;
  }
}
body .main .footer {
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  z-index: 6;
  background: #0089BD;
}
@media only screen and (max-width: 1023px) {
  body .main .footer {
    position: relative;
    display: none;
  }
}
body .main .footer .wrapper {
  padding: 10px 30px;
  overflow: hidden;
  clear: both;
  font-size: 11px;
  color: #ffffff;
  line-height: 20px;
  text-transform: uppercase;
}
body .main .footer .wrapper .copyright {
  float: left;
  text-decoration: none;
}
body .main .footer .wrapper .copyright a {
  text-decoration: none;
  color: #ffffff;
}
body .main .footer .wrapper .menu {
  float: right;
}
body .main .footer .wrapper .menu ul {
  padding: 0;
  margin: 0;
}
body .main .footer .wrapper .menu ul li {
  display: inline-block;
  margin-left: 18px;
}
body .main .footer .wrapper .menu ul li a {
  text-decoration: none;
  color: #ffffff;
}
body .main .footer-mobile {
  display: none;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
@media only screen and (max-width: 1023px) {
  body .main .footer-mobile {
    display: block;
  }
}
body .main .footer-mobile td {
  padding-left: 20px;
}
@media only screen and (max-width: 350px) {
  body .main .footer-mobile td {
    padding-left: 10px;
  }
}
body .main .footer-mobile td img {
  max-width: 20px;
}
body .main .footer-mobile td label {
  font-size: 12px;
  line-height: 20px;
  color: #2D9DC7;
  vertical-align: top;
}
body .main .footer-mobile .bottom {
  text-align: center;
  display: block;
  padding: 15px 0;
  font-size: 9px;
  color: #888;
}

/*# sourceMappingURL=style.css.map */
