@import "library";

html, body {
	width: 100%;
	height: 100%;
	vertical-align: baseline;
}
body { 
	font-family: $content-font;
    font-size: 14px;
    padding: 0;
    margin: 0;
    outline: none;

	.clearfix {
		display: inline-block;
		&:after {
		     visibility: hidden;
		     display: block;
		     font-size: 0;
		     content: " ";
		     clear: both;
		     height: 0;
		}
	}
	* {
		box-sizing: border-box;
		outline: none;
	}
	.loader {
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 101;
	    background: #fff;
	    .wrapper {
	    	display: inline-block;
		    position: absolute;
		    left: 50%;
		    top: 50%;
	    	img {
	    		transform: translate(-50%, -50%);
	    	}
	    }
	}
	.main {
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;

		.header {
		    z-index: 100;
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		    padding: 20px;
			@include respond-to(max-mobile){
				display: none;
			}
		    .logo {
		    	float: left;
		    	padding-top: 5px;
		    	img {
		    		width: 140px;
		    	}
		    }
		    .menu {
		    	float: right;
		    	ul {
		    		margin: 0;
    				padding: 0;
    				li {
    					display: inline-block;
	    				a {
	    					font-family: $heading-font;
	    					color: #fff;
						    text-decoration: none;
						    text-transform: uppercase;
						    line-height: 40px;
						    padding: 0 10px;
						    border: 2px solid transparent;
						    display: block;
						    border-radius: 5px;
						    cursor: pointer;
						    @include p(transition, all .3s ease-out);
						    &.selected {
						    	border-color: #fff;
						    }
	    				}
	    				&:hover {
	    					a {
	    						border-color: #fff;
	    					}
	    				}
    				}
		    	}
		    }
		    .lang-menu {
		    	float: right;
			    line-height: 42px;
			    padding-left: 20px;
		    	a {
		    		img {
		    			max-width: 30px;
    					vertical-align: middle;
		    		}
		    	}
		    }
		}

		.nav-mobile {
			position: absolute;
			display: none;
		    left: 0;
		    right: 0;
		    top: 0;
		    padding: 20px;
		    z-index: 7;
		    .logo {
		    	display: inline-block;
    			float: left;
		    	a {
		    		img {
		    			max-width: 110px;
		    		}
		    	}
		    }
		    .lang-menu {
		    	display: inline-block;
    			float: right;
			line-height: 33px;
			padding-right: 10px;
		    	a {
		    		img {
		    			max-width: 24px;
		    		}
		    	}
		    }
		    .open-menu {
		    	display: inline-block;
    			float: right;
		    	a {
		    		color: #fff;
    				font-size: 20px;
		    	}
		    }
		    @include respond-to(max-mobile){
				display: block;
			}
		}

		.menu-mobile {
			position: fixed;
		    z-index: -1;
		    opacity: 0;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: rgba(0, 137, 189,.9);
		    color: #fff;
		    font-size: 20px;
		    text-align: center;
		    padding-top: 75px;
		    @include p(transition, all .5s ease-out);
		    &.open {
		    	opacity: 1;
		    }
		    .close-menu {
		    	position: absolute;
			    top: 20px;
			    right: 20px;
			    color: #fff;
			    font-size: 25px;
			    line-height: 25px;
		    }
		    ul {
			    list-style-type: none;
			    padding: 0;
			    margin: 0;
			    li {
			    	display: block;
    				line-height: 35px;
			    	a {
			    		text-decoration: none;
						color: #fff;
			    	}
			    }
			}
			.divider {
				width: 100%;
			    text-align: center;
			    display: block;
			    margin-bottom: 10px;
			    span {
			    	width: 75px;
				    border-top: 1px solid #fff;
				    display: inline-block;
			    }
			}
		}

		.general {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			min-height: 100%;
		}

		.page {
			@extend .general;
		    @include p(transition, all .5s ease-out);
		    z-index: 6;
		    &.down {
			    @include p(transform, translate3d(0, 100%, 0));
		    }
		    @include respond-to(max-mobile){
					overflow: scroll;
					-webkit-overflow-scrolling: touch;
				}
		    &.home {
		    	background: url(https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/background/mainBackground5.jpg) no-repeat center center;
				background-color: #000;
			    background-size: cover;
				@include respond-to(max-mobile){
					background: url(https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/background/mobile-mainBackground5.jpg) no-repeat center center;
					background-size: cover;
				}
			    .home-content {
			    	position: absolute;
			    	left: 0;
			    	right: 0;
			    	bottom: 0;
			    	top: 0;
			    	z-index: 2;
						@include respond-to(limit-min-width){
								@include p(transform, scale(.8));
						}
						@include respond-to(limit-min-height){
								@include p(transform, scale(.8));
						}
						@include respond-to(max-mobile){
							position: relative;
						}
			    	.wrapper {
			    		width: 1024px;
					    margin: 0 auto;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    padding: 0;
					    right: 0;
					    padding-bottom: 140px;
					    @include respond-to(large-desktop){
					    	bottom: 200px;
					    }
					    @include respond-to(max-mobile){
							top: 0;
							padding-bottom: 0;
							padding-top: 100px;
							width: 100%;
						}
						@include respond-to(limit-min-width){
								padding-bottom: 100px;
						}
						@include respond-to(limit-min-height){
								padding-bottom: 100px;
						}
						.desc-head-mobile {
							display: none;
							color: #fff;
						    padding: 0 30px;
						    text-align: center;
						    margin-bottom: 25px;
						    h2 {
						    	margin: 0;
						    	font-size: 24px;
						    }
						    p {
						    	font-size: 12px;
							    font-weight: 300;
							    line-height: 17px;
							    margin-top: 5px;
						    }
						    @include respond-to(max-mobile){
								display: block;
							}
						}
			            .desc-chat{
			                font-weight: 300;
						    width: 50%;
						    min-height: 570px;
						    min-width: 50%;
						    height: 470px;
						    float: left;
						    line-height: 30px;
						    letter-spacing: 1.2px;
						    position: relative;
						    overflow: hidden;
						    margin-bottom: 10px;
						    @include respond-to(max-mobile){
									min-height: 300px;
							    height: 300px;
							    width: 300px;
							    margin: 0 auto 10px;
							    float: none;
								}
								@include respond-to(mini-mobile){
									min-height: 280px;
							    width: 280px;
								}
						    -webkit-mask-image: -webkit-linear-gradient(top, transparent 0%, rgba(252, 252, 252, 0.1) 5%, #fcfcfc 20%);
					    	.desc-chat-wrapper{
									position: absolute;
									bottom: 0;
									transition: height 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
									height: 0;
									overflow: hidden;
									.desc-chat-item {
								    font-size: 18px;
								    border: 2px solid rgba(255,255,255,.8);;
								    background: transparent;
								    border-radius: 15px;
								    padding: 11px 25px;
								    margin-bottom: 15px;
								    margin-right: 50px;
								    min-height: 53px;
								    min-width: 400px;
								    max-width: 400px;
								    color: rgba(255,255,255,.8);
								    transition: opacity 1s ease-out;
								    opacity: 0;
								    line-height: 25px;
								    @include respond-to(max-mobile){
											max-width: 270px;
									    min-width: 270px;
									    font-size: 14px;
									    line-height: 18px;
									    border-radius: 8px;
									    border: 1px solid rgba(255,255,255,.8);
									    padding: 10px 15px;
									    margin-bottom: 10px;
									    min-height: 40px;
										}
										@include respond-to(max-mobile){
											max-width: 250px;
									    min-width: 250px;											
										}
					                &.white {
					                    background: rgba(0,0,0,.5);
					                    border-color: rgba(0,0,0,0);
					                    color: #f1f1f1;
					                    margin-left: 50px;
					                    @include respond-to(max-mobile){
					                    	margin-left: 30px;
					                    }
					                }
					                &.black {
					                   margin-right: 100px;
					                }
					                &:first-child {
					                  margin-top: 20px;
					                }
					                /*&:last-child {
					                  margin-bottom: 20px;
					                }*/
					            }
				            }
			            }
			            .desc-about{
			                width: 50%;
						    height: auto;
						    text-align: left;
						    position: absolute;
						    right: 0;
						    bottom: 170px;										
						    @include respond-to(max-mobile){
								position: relative;
								bottom: inherit;
								width: 100%;
							}
                            @include respond-to(limit-min-width){
                                bottom: 130px;
                            }
                            @include respond-to(limit-min-height){
                                bottom: 130px;
                            }
			                .about-greeting{
			                    clear: both;
			                    width: 100%;
			                    float: left;
			                    margin-top: 0;
			                    @include respond-to(max-mobile){
									display: none;
								}
			                    h2{
			                        font-family: $heading-font;
								    font-weight: 500;
								    font-size: 41px;
								    color: rgba(255,255,255,.8);
								    margin-bottom: 12px;
								    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
			                    }
			                    p{
								    font-weight: 100;
								    font-size: 17px;
								    font-weight: 100;
								    letter-spacing: 1px;
								    margin: 0;
								    color: rgba(255,255,255,.8);
								    line-height: 24px;
								    padding-left: 5px;
								    padding-right: 50px;
								    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
			                    }
			                }
			                .about-form{
			                    clear: both;
			                    width: 100%;
			                    overflow: hidden;
			                    padding-top: 20px;
			                    opacity: .9;
			                    @include respond-to(max-mobile){
														background: #fff;
													}
			                    .about-error{
			                        position: absolute;
			                        bottom: 67px;
			                        left: 92px;
			                        color: #EF744F;
			                        font-size: 9px;
			                        width: 350px;
			                        text-align: left;
			                    }
			                    .about-error.phone{
			                        bottom: 126px;
			                    }
			                    label{
			                        clear: both;
			                        float: left;
			                        font-size: 18px;
			                        color: #FFFFFF;
			                        margin-bottom: 10px;
			                        text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
			                    }
			                    .fieldset{
			                        clear: both;
			                        float: left;
			                        position: relative;
			                        @include respond-to(max-mobile){
																padding: 20px 40px 40px;
															}
															@include respond-to(max-mobile){
																padding: 15px 30px 30px;
															}
			                        .loader-form {
			                        	position: absolute;
									    top: 0;
									    left: 0;
									    bottom: 0;
									    background: rgba(255,255,255,.7);
									    width: 458px;
									    z-index: 4;
									    display: none;
											@include respond-to(max-mobile){
												width: 100%;
											}
									    img {
									    	position: absolute;
										    left: 50%;
										    top: 50%;
										    transform: translate(-50%,-50%);
										    width: 35px;
									    }
			                        }
			                        .input-wrapper{
			                            display:inline-block;
			                            float:left;
			                            border: 4px solid rgba(0,0,0,0.1);
			                            margin-right: 4px;
			                            position: relative;
			                            @include respond-to(max-mobile){
											width: 100%;
											border-radius: 4px;
											border: 1px solid #dedede;
											margin-bottom: 5px;
										}
			                            input[type="text"], input[type="number"]{
			                                padding: 14px 20px;
			                                width:450px;
			                                font-size: 17px;
			                                color: #555;
			                                border: 0;
			                                overflow: hidden;
			                                position: relative;
			                                left: 0;
			                                padding-left: 85px;
			                                @include p(transition, all .3s ease-out);
			                                @include respond-to(max-mobile){
												width: 100%;
												border-radius: 4px;
    											padding: 12px 20px 12px 65px;
    											font-size: 15px;
											}
			                            }
			                            .icon-input{
			                                text-align: center;
										    background: #f2f2f2;
										    height: 48px;
										    width: 65px;
										    position: absolute;
										    padding: 15px 5px 12px 5px;
										    left: 0;
										    z-index: 3;
    										@include respond-to(max-mobile){
												border-top-left-radius: 4px;
												border-bottom-left-radius: 4px;
												height: initial;
											    width: 55px;
											    bottom: 0;
											    top: 0;
											    padding: 12px 0;
											}
			                                img{
			                                    display: block;
			                                    margin: 0 auto;
			                                    width: 28px;
			                                    align: center;
			                                }
			                            }
			                            .notice {
										    position: absolute;
										    opacity: 0;
										    bottom: 1px;
										    left: 85px;
										    font-size: 11px;
										    color: #E74C3C;
										    line-height: 12px;
										    @include p(transition, all .3s ease-out);
										}
										&.error {
											input[type="text"], input[type="number"] {
												-webkit-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
												-moz-box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
												box-shadow: 0px 0px 1px 1px rgba(231, 76, 60, 0.66);
											}
											.notice {
												opacity: 1;
											}
										}
			                        }
			                        .input-wrapper:first-child{
			                            margin-right: 2px;
			                        }
			                        button{
			                            display: inline-block;
			                            float: left;
			                            width: 458px;
			                            height: auto;
			                            background: #FFBC08;
			                            border: 4px solid rgba(0,0,0,0.1) !important;
			                            -moz-background-clip: padding;     /* Firefox 3.6 */
			                            -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			                            background-clip: padding-box;
			                            color: #000000;
			                            text-align: center;
			                            padding: 16px 0;
			                            font-size: 17px;
			                            font-weight:700;
			                            cursor: pointer;
			                            transition: background .3s ease-out;
			                            @include respond-to(max-mobile){
											width: 100%;
											border: 0 !important;
										    border-radius: 4px;
										    font-size: 13px;
										    padding: 14px 0;
										}
			                        }
			                        button:hover{
			                            background: #F1BC2C;
			                            -moz-background-clip: padding;     /* Firefox 3.6 */
			                            -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			                            background-clip: padding-box;
			                            border-color: rgba(0,0,0,0.1);
			                        }
			                    }
			                    .special{
			                        float: right;
								    clear: both;
								    width: 100%;
								    text-align: right;
								    margin-top: 20px;
								    font-size: 11px;
								    padding-right: 60px;
								    color: rgba(255, 255, 255, 0.6);
								    @include respond-to(max-mobile){
										display: none;
									}
			                    }
			                }
			            }
			            .desc-after {
			            	width: 480px;
						    margin: 0 auto 50px;
						    color: #fff;
						    text-align: center;
										&.reva {
											margin-bottom: 0;
											.box {
												height: auto;
											}
										}
						    @include respond-to(max-mobile){
								width: 100%;
							    position: fixed;
							    bottom: 0;
							    margin: 0;
							}
						    .title {
						    	h2 {
						    		margin: 0;
								    font-size: 41px;
								    font-weight: 500;
								    font-family: $heading-font;
								    margin-bottom: 12px;
								    @include respond-to(max-mobile){
										font-size: 27px;
									    padding: 0 20px;
									    margin-bottom: 20px;
									}
						    	}
						    }
						    .description {
						    	font-size: 17px;
							    font-weight: 100;
							    letter-spacing: 1px;
							    margin: 0;
							    line-height: 24px;
							    margin-bottom: 25px;
							    @include respond-to(max-mobile){
									font-size: 15px;
								    padding: 0 20px;
								    line-height: 20px;
								    margin-bottom: 35px;
								}
						    }
						    .box {
						    	height: 155px;
							    background: rgba(0,0,0,.5);
							    padding: 15px;
						    	&-title {
						    		text-align: center;
    								overflow: hidden;
						    		h3 {
						    			margin: 0;
									    font-size: 14px;
									    font-weight: 400;
									    display: inline-block;
									    position: relative;
						    			&:before {
						    				content: '';
										    position: absolute;
										    border-top: 1px solid #fff;
										    right: 100%;
										    width: 100px;
										    margin-right: 15px;
										    top: 49%;
						    			}
						    			&:after {
						    				content: '';
										    position: absolute;
										    border-top: 1px solid #fff;
										    left: 100%;
										    width: 100px;
										    margin-left: 15px;
										    top: 49%;
						    			}
						    			span {
						    				color: #62B4EF;
										    font-weight: bold;
										    font-size: 15px
						    			}
						    		}
						    	}
						    	&-content {
						    		font-size: 30px;
								    font-weight: 600;
								    margin: 35px 0;
								    text-align: center;
								    color: #FFBC08;
										@include respond-to(max-mobile){
											font-size: 22px;
										}
						    	}
									&-social {
										width: 300px;
    								margin: 0 auto;
										@include respond-to(max-mobile){
											width: 100%;
										}
										a {
											display: inline-block;
											width: 100px;
											float: left;
											vertical-align: top;
											text-align: center;
											color: #fff;
											font-size: 20px;
											line-height: 40px;
											opacity: 1;
											@include respond-to(max-mobile){
												width: 33.33%;
											}
											@include p(transition, all .3s ease-out);
											&.facebook {
												background-color: #3C5A96;
											}
											&.twitter {
												background-color: #59ADEB;
											}
											&.whatsapp {
												background-color: #32B01E;
											}
											&:hover {
												opacity: .8;
											}
										}
									}
						    }
			            }
							.step {
								padding: 0 20px;
								margin: 0 auto;
								display: inline-block;
								@include respond-to(max-mobile){
									display: none;
								}
								.item {
									display: inline-block;
									font-weight: 100;
									float: left;
									padding: 10px 20px;
									text-align: center;
									i {
										color: #89D133;
									}
								}
							}
			    	}
			    	.img-store, .img-store-mobile {
			    		display: none;
			    	}
			    }
			    .home-footer {
			    	position: absolute;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    background: #fff;
				    z-index: 2;
				    color: #0D648D;
				    font-weight: 600;
				    opacity: .9;
				    box-sizing: border-box;
					display: block;
					@include respond-to(max-mobile) {
						display: none;
					}
			    	img, label {
			    		display: inline-block;
			    		vertical-align: middle;
			    		line-height: 75px;
                        @include respond-to(limit-min-width){
                            line-height: 50px;
                        }
                        @include respond-to(limit-min-height){
                            line-height: 50px;
                        }
			    	}
			    	img {
			    		height: 40px;
			    	}
			    	.bottom {
			    		border-top: 1px solid #d8d8d8;
			    		width: 100%;
			    		padding: 0 20px;
			    		box-sizing: border-box;
				    	.copyright {
				    		display: inline-block;
						    float: left;
						    font-size: 10px;
						    color: #ababab;
						    font-weight: 400;
						    line-height: 30px;
				    	}
				    	.nav {
				    		float: right;
				    		display: inline-block;
				    		ul {
				    			padding: 0;
							    margin: 0;
							    line-height: normal;
				    			li {
				    				display: inline-block;
				    				a {
				    					font-size: 10px;
									    font-weight: 400;
									    color: #ababab;
									    text-decoration: none;
									    text-transform: uppercase;
									    padding: 0 5px;
									    line-height: 30px;
				    				}
				    			}
				    		}
				    	}
			    	}
			    }
			    .overlay {
			    	position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    background: rgba(0,0,0,.5);
				    @include respond-to(max-mobile){
						display: none;
					}
			    }
		    }
		    &.press {
		    	background: $blue;
		    	> .wrapper {
		    		width: 1024px;
				    margin: 0 auto;
				    padding: 80px 20px;
				    @include respond-to(max-mobile){
						width: 100%;
					    padding: 80px 30px 0;
					    background: #0089BD;
					    overflow: auto;
					    position: absolute;
					    top: 0;
					    left: 0;
					    right: 0;
					    bottom: 0;
					}
					.title, .subtitle, .items, .nav {
						position: relative;
						z-index: 1;
					}
				    .title {
				    	text-align: center;
					    color: #fff;
					    margin-bottom: 10px;
				    	h2 {
				    		font-family: $heading-font;
						    font-weight: 700;
						    font-size: 33px;
						    margin: 0;
						    line-height: 33px;
						    @include respond-to(max-mobile){
								font-size: 25px;
							}
				    	}
				    }
				    .subtitle {
				    	text-align: center;
					    color: rgba(255,255,255,.8);
					    margin-bottom: 75px;
					    @include respond-to(max-mobile){
						    margin-bottom: 50px;
						}
				    	h3 {
				    		font-family: $content-font;
				    		margin: 0;
						    font-size: 21px;
						    font-weight: 100;
						    @include respond-to(max-mobile){
							    font-size: 18px;
							}
				    	}
				    }
				    .items {
				    	width: 100%;
				    	margin-bottom: 70px;
				    	@include respond-to(max-mobile){
						    width: 250px;
						    margin: 0 auto 50px;
						    display: block;
						}
				    	.inner {
				    		margin: 0 -5px;
				    		.item {
				    			width: 20%;
							    display: inline-block;
							    float: left;
							    padding: 5px;
							    @include respond-to(max-mobile){
								    width: 50%;
								}
				    			a {
				    				display: block;
								    height: 100px;
								    background: #fff;
								    line-height: 100px;
								    text-align: center;
								    @include respond-to(max-mobile){
									    height: 64px;
									    line-height: 64px;
									}
				    				img {
				    					max-width: 80%;
    									vertical-align: middle;
				    				}
				    			}
				    		}
				    	}
				    }
				    .nav {
				    	text-align: center;
				    	.button {
				    		margin-bottom: 10px;
				    		a {
				    			display: inline-block;
							    text-decoration: none;
							    background: #FFBC08;
							    line-height: 54px;
							    padding: 0 25px;
							    font-family: $heading-font;
							    font-size: 18px;
							    font-weight: 600;
							    color: #000000;
							    border-radius: 4px;
							    @include p(transition, all .3s ease-out);
							    @include respond-to(max-mobile){
								font-size: 15px;
								line-height: 49px;
    								padding: 0px 17px;
							    }
							    img {
							    	width: 28px;
								    margin-right: 15px;
								    vertical-align: middle;
								    margin-top: -8px;
								    @include respond-to(max-mobile){
									  width: 16px;
								        margin-right: 8px;
								        vertical-align: middle;
								        margin-top: -4px;
								    }
							    }
							    &:hover {
							    	background: rgba(255, 188, 8, .9)
							    }
				    		}
				    	}
				    	.alternate {
				    		a {
				    			text-decoration: none;
    							color: rgba(255,255,255,.7);
    							@include p(transition, all .3s ease-out);
							@include respond-to(max-mobile){
								font-size: 13px;
							}
							&:hover {
							    	color: rgba(255,255,255,.8);
							    }
				    		}
				    	}
				    }
				    .footer-mobile {
				    	margin: 50px -30px 0;
				    	border-top: 0;
				    }
		    	}
		    }
		    &.contact {
		    	background: $blue;
		    	> .wrapper {
		    		width: 1024px;
				    margin: 0 auto;
				    padding: 80px 20px;
				    @include respond-to(max-mobile){
						width: 100%;
					    padding: 80px 30px 0;
					    background: $blue;
					    overflow: auto;
					    position: absolute;
					    top: 0;
					    left: 0;
					    right: 0;
					    bottom: 0;
					}
					.title, .subtitle, .items {
						position: relative;
						z-index: 1;
					}
				    .title {
				    	text-align: center;
					    color: #fff;
					    margin-bottom: 10px;
				    	h2 {
				    		font-family: $heading-font;
						    font-weight: 700;
						    font-size: 33px;
						    margin: 0;
						    line-height: 33px;
						    @include respond-to(max-mobile){
								font-size: 25px;
							}
				    	}
				    }
				    .subtitle {
				    	text-align: center;
					    color: rgba(255,255,255,.8);
					    margin-bottom: 75px;
					    @include respond-to(max-mobile){
						    margin-bottom: 50px;
						}
				    	h3 {
				    		font-family: $content-font;
				    		margin: 0;
						    font-size: 21px;
						    font-weight: 100;
						    @include respond-to(max-mobile){
							    font-size: 18px;
							}
				    	}
				    }
				    .items {
				    	width: 100%;
				    	margin-bottom: 70px;
				    	padding: 0 200px;
    					color: #fff;
    					@include respond-to(max-mobile){
							padding: 0;
						}
    					> div {
    						display: inline-block;
						    float: left;
						    padding: 0 30px;
    						.item {
    							margin-bottom: 15px;
    							span {
    								display: block;
    							}
    						}
    					}
    					.left {
    						text-align: right;
    						width: 55%;
    						@include respond-to(max-mobile){
								text-align: center;
							    padding: 0;
							    width: 100%;
							}
    					}
    					.right {
    						border-left: 1px solid rgba(255,255,255,.3);
    						width: 45%;
    						@include respond-to(max-mobile){
								text-align: center;
							    padding: 0;
							    width: 100%;
							    border: 0;
							}
    					}
				    }
				    .footer-mobile {
				    	margin: 50px -30px 0;
				    	border-top: 0;
				    }
		    	}
		    }
		    &.business {
		    	background: $blue;
		    	> .wrapper {
						width: 1024px;
						margin: 0 auto;
						padding: 80px 20px;
						@include respond-to(max-mobile){
							width: 100%;
							padding: 80px 30px 0;
							background: #0089BD;
							overflow: auto;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
						}
					.title, .subtitle, .fields {
						position: relative;
						z-index: 1;
					}
				    .title {
				    	text-align: center;
					    color: #fff;
					    margin-bottom: 10px;
				    	h2 {
				    		font-family: $heading-font;
						    font-weight: 700;
						    font-size: 33px;
						    margin: 0;
						    line-height: 33px;
						    @include respond-to(max-mobile){
									font-size: 25px;
								}
				    	}
				    }
				    .subtitle {
				    	text-align: center;
							color: #FFF;
							width: 400px;
							margin: 0 auto 25px;
					    @include respond-to(max-mobile){
						    margin-bottom: 30px;
								width: 300px;
							}
							@include respond-to(mini-mobile){
								width: 100%;
							}
				    	h3 {
				    		font-family: $content-font;
				    		margin: 0;
						    font-size: 16px;
								font-weight: 700;
								line-height: 20px;
						    @include respond-to(max-mobile){
							    font-size: 15px;
									line-height: 18px;
								}
				    	}
				    }
						.image {
							width: 250px;
							margin: 0 auto 20px;
							img {
								max-width: 100%;
							}
						}
						a.link {
							text-align: center;
							font-family: $heading-font;
							padding: 10px 0px;
							border-radius: 4px;
							font-size: 15px;
							color: #000000;
							line-height: 22px;
							background: #FFBC08;
							border: 1px solid #FFBC08;
							font-weight: bold;
							cursor: pointer;
							width: 400px;
							display: block;
							margin: 0 auto;
							@include p(transition, all .3s ease-out);
							@include respond-to(max-mobile){
								font-size: 14px;
								width: 300px;
							}
							@include respond-to(mini-mobile){
								width: 100%;
							}
							&:hover {
								background: rgba(255, 188, 8, .9)
							}
						}
				    .footer-mobile {
				    	margin: 50px -30px 0;
				    	border-top: 0;
				    }
		    	}
		    }
		    &.jobs {
		    	background: $blue;
		    	overflow: auto;
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	right: 0;
		    	bottom: 0;
		    	.overlay {
			    	position: fixed;
				    left: 0;
				    right: 0;
				    top: 0;
				    height: 100px;
				    z-index: 3;
				    background: $blue;				    
						background: -moz-linear-gradient(top,  rgba(0,137,189,1) 0%, rgba(0,137,189,0.3) 70%, rgba(229,229,229,0) 100%);
						background: -webkit-linear-gradient(top,  rgba(0,137,189,1) 0%,rgba(0,137,189,0.3) 70%,rgba(229,229,229,0) 100%);
						background: linear-gradient(to bottom,  rgba(0,137,189,1) 0%,rgba(0,137,189,0.3) 70%,rgba(229,229,229,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089bd', endColorstr='#00e5e5e5',GradientType=0 );
						@include respond-to(max-mobile){
							position: relative;
							height: 0;
						}
				}
		    	> .wrapper {
		    		width: 1024px;
				    margin: 0 auto;
				    padding: 80px 140px;
				    z-index: 2;
					@include respond-to(max-mobile){
						width: 100%;
						padding: 80px 30px 0;
					}
				    .title {
				    	text-align: center;
					    color: #fff;
					    margin-bottom: 10px;
				    	h2 {
				    		font-family: $heading-font;
						    font-weight: 700;
						    font-size: 33px;
						    margin: 0;
						    line-height: 33px;
							@include respond-to(max-mobile){
								font-size: 25px;
							}
				    	}
				    }
				    .subtitle {
				    	text-align: center;
					    color: rgba(255,255,255,.8);
					    margin-bottom: 25px;
				    	h3 {
				    		font-family: $content-font;
				    		margin: 0;
						    font-size: 21px;
						    font-weight: 100;
				    	}
				    }
				    p.titleDesc{
				        margin-bottom: 25px;
				        /*@include respond-to(large-desktop) {
				            margin-bottom: get-vw(25px);
				        } */
				    }
				    .hireDivider{
				        width: 53px;
				        border-bottom: 2px solid #fff;
				        opacity: .333;
				        margin: 0 auto 25px;
				        /*@include respond-to(large-desktop) {
				            width: get-vw(53px);
				            border-bottom: get-vw(2px) solid #fff;
				            margin: 0 auto get-vw(25px);
				        }*/
				    }
				    /*.wrapper{
				        width: 750px;
				        @include respond-to(max-mobile) {
				            width: 100%;
				            max-width: 500px;
				        }
				        @include respond-to(large-desktop) {
				            width: get-vw(750px);
				        }
				    }*/
				    .subTitleDesc{
				        font-family: $content-font;
				        font-size: 15px;
				        color: #fff;
				        font-weight: 400;
				        margin: 0 auto 50px;
				        text-align: left;
				        letter-spacing: 1px;
				        line-height: 23px;
				        /*@include respond-to(large-desktop) {
				            font-size: get-vw(15px);
				            letter-spacing: get-vw(1px);
				            line-height: get-vw(23px);
				            margin: 0 auto get-vw(50px);
				        }*/
				        @include respond-to(max-mobile) {
				            margin: 0 auto 30px;
							font-size: 14;
							font-weight: 300;
							text-align: center;
				        }
				    }
				    .hiring-title{
				        font-size: 25px;
				        line-height: normal;
				        color: #fff;
				        text-align: center;
				        /*@include respond-to(large-desktop) {
				            font-size: get-vw(25px);
				        }*/
				        @include respond-to(max-mobile) {
				            font-size: 22px;
							margin: 10px 0;
				        }

				    }
				    .hiring-position{
				        display: block;
						@include respond-to(max-mobile){
							text-align: center;
						}
				        .hiring-subposition{
				            width: 50%;
				            display: inline-block;
				            float: left;
				            @include respond-to(max-mobile){
				                width: 100%;
								text-align: center;
				            }
				        }
				        .hiring-item{
				            margin-top: 40px;
				            // @include respond-to(large-desktop) {
				            //     margin-bottom: get-vw(40px);
				            // }
				            @include respond-to(max-mobile) {
				                margin-top: 30px;
				            }
				            h3{
				                font-family: $content-font;
				                font-weight: 100;
				                font-size: 16px;
				                font-family: 'Open Sans';
				                color: #fff;
				                margin-bottom: 9px;
				                /*@include respond-to(large-desktop) {
				                    font-size: get-vw(16px);
				                    margin-bottom: get-vw(9px);
				                } */
				            }
				            ul{
				            	padding: 0;
				            	margin: 0;
				            	list-style-type: none;
				                li{
				                    a{
				                        font-family: $content-font;
				                        font-weight: 600;
				                        display: block;
				                        padding: 9px 0;
				                        font-size: 16px;
				                        color: #FBD74A;
				                        text-decoration: none;
				                        transition: all .3s ease-out;
				                        /*@include respond-to(large-desktop) {
				                            font-size: get-vw(16px);
				                            padding: get-vw(9px) 0;
				                        }*/
										@include respond-to(max-mobile){
											padding: 3px 0;
										}
				                    }
				                    a:hover{
				                        text-decoration: underline;
				                    }
				                    .item-prop{
				                        display:none;
				                    }
				                }
				            }
				        }
				    }
				    .hiring-bottom{
				        display: block;
				        clear: both;
				        padding: 75px 0 50px;
				        text-align: center;
				        font-family: $content-font;
				        font-weight: 100;
				        color: #fff;
				        line-height: 21px;
				        /*@include respond-to(large-desktop) {
				            padding: get-vw(75px) 0 get-vw(50px);
				            line-height: get-vw(21px);
				        }*/
				        @include respond-to(max-mobile) {
				            padding: 45px 0 50px;
				        }
				        a{
				            font-family: $content-font;
				            font-weight: 400;
				            color: #fff;
				        }
				    }
				    .hiring-modal{
				        position: fixed;
				        top: 0;
				        left: 0;
				        right: 0;
				        bottom: 0;
				        background: rgba(0,0,0,.85);
				        display: none;
				        z-index: 1000;
				        padding: 20px 25px;
				        /*@include respond-to(large-desktop) {
				            padding: get-vw(20px) get-vw(25px);
				        }
				        @include respond-to(max-mobile) {
				            padding: 20px 30px;
				        }*/
				        overflow: auto;
						/*@include respond-to(max-mobile){
							position: relative;
						}*/
				        .hiring-nav{
				            display:block;
				            .hiring-logo{
				                width: 145px;
				                height: auto;
				                float: left;
				                /*@include respond-to(large-desktop) {
				                    width: get-vw(145px);
				                }*/
				                @include respond-to(max-mobile) {
				                    width: 110px;
				                }
				                img{
				                    width: 100%;
				                    height: auto;
				                }
				            }
				            .hiring-close{
								position: absolute;
							    top: 20px;
							    right: 20px;
							    color: $white;
							    font-size: 25px;
							    line-height: 25px;
				                /*@include respond-to(large-desktop) {
				                    width: get-vw(20px);
				                }
				                @include respond-to(max-mobile) {
				                    width: 15px;
				                }*/

				            }
				        }
				        .wrapper{
				            clear:both;
							width: 750px;
							margin: auto;
							@include respond-to(max-mobile){
								width: 100%
							}
				        }
				        .hiring-content{
				            color: $white;
							padding: 5px;
				            .item-prop{
				                h1{
				                    margin-top: 30px;
				                    font-size: 30px;
				                    text-align: center;
				                    color: #FFBC08;
				                    margin-bottom: 50px;
				                    /*@include respond-to(large-desktop) {
				                        font-size: get-vw(30px);
				                        margin-bottom: get-vw(50px);
				                        margin-top: get-vw(30px);
				                    }*/
				                    @include respond-to(max-mobile) {
				                        font-size: 21px;
				                        margin-bottom: 25px;
				                    }
				                }
				                .item-description{
				                    font-family: "Open Sans";
				                    font-size: 17px;
				                    margin-bottom: 50px;
				                    line-height: 25px;
				                    /*@include respond-to(large-desktop) {
				                        font-size: get-vw(17px);
				                        line-height: get-vw(25px);
				                        margin-bottom: get-vw(50px);
				                    }*/
				                    @include respond-to(max-mobile) {
				                        font-size: 14px;
				                        line-height: 20px;
				                        margin-bottom: 20px;
				                    }
				                }
				                .item-details{
				                    .item-content{
				                        margin-bottom: 50px;
				                        line-height: 25px;
				                        font-size: 17px;
				                        /*@include respond-to(large-desktop) {
				                            font-size: get-vw(17px);
				                            line-height: get-vw(25px);
				                            margin-bottom: get-vw(50px);
				                        }*/
				                        @include respond-to(max-mobile) {
				                            margin-bottom: 0;
				                            font-size: 14px;
				                        }
				                        .title{
				                            margin-bottom: 25px;
				                            font-weight: 700;
				                            font-size: 21px;
				                            position: relative;
																		text-transform: capitalize;
				                            /*@include respond-to(large-desktop) {
				                                font-size: get-vw(21px);
				                                margin-bottom: get-vw(25px);
				                            }*/
				                            @include respond-to(max-mobile) {
				                                color: #21AFE4;
				                                border-bottom: 1px solid #979797;
				                                padding: 10px 0;
				                                margin-bottom: 0;
				                                font-size: 16px;
				                                cursor: pointer;
				                            }
				                            i{
				                                position: absolute;
				                                right: 0;
				                                top: 15px;
				                                display:none;
				                               /* @include respond-to(large-desktop) {
				                                    top: get-vw(15px);
				                                }*/
				                                @include respond-to(max-mobile) {
				                                    display:block;
				                                }
				                            }
				                        }
				                        .list{
				                            /*@include respond-to(max-mobile) {
				                                display: none;
				                            }*/
				                            ul{
				                                list-style-type: circle;
				                                padding-left: 30px;
				                                /*@include respond-to(large-desktop) {
				                                    padding-left: get-vw(30px);
				                                }*/
				                                @include respond-to(max-mobile) {
				                                    padding: 20px;
				                                }
				                            }
				                        }
				                    }
				                }
				                .item-bottom{
				                    text-align: center;
				                    margin-bottom: 25px;
				                    margin-top: 70px;
				                    /*@include respond-to(large-desktop) {
				                        margin-top: get-vw(70px);
				                        margin-bottom: get-vw(25px);
				                    }
				                    @include respond-to(max-mobile) {
				                        margin-top: 40px;
				                    }*/
				                    a:first-child{
																text-decoration: none;
				                        clear: both;
				                        width: 100%;
				                        text-align: center;
				                        padding: 12px 0px;
				                        -webkit-border-radius: 4px;
				                        -moz-border-radius: 4px;
				                        -ms-border-radius: 4px;
				                        border-radius: 4px;
				                        font-family: "Open Sans", Arial, sans-serif;
				                        font-size: 17px;
				                        color: #000000;
				                        line-height: 22px;
				                        background: #FFBC08;
				                        border: 1px solid #FFBC08;
				                        width: 300px;
				                        position: relative;
																display: inline-block;
				                        /*@include respond-to(large-desktop) {
				                            font-size: get-vw(17px);
				                            width: get-vw(300px);
				                            line-height: get-vw(22px);
				                            border-radius: get-vw(4px);
				                            padding: get-vw(12px) 0;
				                            border: get-vw(1px) solid #FFBC08;
				                        }*/
				                        @include respond-to(max-mobile) {
				                            font-size: 14px;
				                            width: 100%;
				                            max-width: 500px;
				                            padding: 10px 0;
				                            border-radius: 3px;
				                        }
										i {
											padding-right: 10px;
										}
				                    }
				                    .item-back{
				                        font-size: 17px;
				                        font-family: "Open Sans";
				                        font-weight: 100;
				                        color: #fff;
				                        display: block;
				                        margin-top: 25px;
				                        /*@include respond-to(large-desktop) {
				                            font-size: get-vw(17px);
				                            margin-top: get-vw(25px);
				                        }
				                        @include respond-to(max-mobile) {
				                            font-size: 14px;
				                            margin-top: 20px;
				                        }*/
				                    }
				                }
				            }
				        }
				    }
					.footer-mobile {
						margin: -10px -30px -80px;
						border-top: 0;
					}
				}
		    }
		    &.terms {
		    	background: $blue;
		    	overflow: auto;
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	right: 0;
		    	bottom: 0;
		    	.overlay {
			    	position: fixed;
				    left: 0;
				    right: 0;
				    top: 0;
				    height: 100px;
				    z-index: 3;
				    background: $blue;
				    background: -moz-linear-gradient(top,  rgba(0,137,189,1) 0%, rgba(0,137,189,0.3) 70%, rgba(229,229,229,0) 100%);
						background: -webkit-linear-gradient(top,  rgba(0,137,189,1) 0%,rgba(0,137,189,0.3) 70%,rgba(229,229,229,0) 100%);
						background: linear-gradient(to bottom,  rgba(0,137,189,1) 0%,rgba(0,137,189,0.3) 70%,rgba(229,229,229,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089bd', endColorstr='#00e5e5e5',GradientType=0 );
					@include respond-to(max-mobile){
						position: relative;
						height: 0;
					}
				}
		    	> .wrapper {
		    		width: 1024px;
				    margin: 0 auto;
				    padding: 80px 140px;
				    z-index: 2;
				    color: #fff;
					@include respond-to(max-mobile){
						width: 100%;
					    padding: 80px 30px 0;

					}
				    .title {
				    	text-align: center;
					    color: #fff;
					    margin-bottom: 10px;
				    	h2 {
				    		font-family: $heading-font;
						    font-weight: 700;
						    font-size: 33px;
						    margin: 0;
						    line-height: 33px;
							@include respond-to(max-mobile){
								font-size: 25px;
							}
				    	}
				    }
				    .terms-desc-top{
			            margin-top: 30px;
			        }
			        .terms-item {
			            padding-top: 20px;
			        }
			        .item {
			            font-weight: bold;
			        }
			        ul{
			        	padding: 0;
			        	margin: 0;
			        	list-style-type: none;
			            li{
			                padding-left: 30px;
			                position: relative;
			                span{
			                    position: absolute;
			                    left: 0;
			                }
			            }
			        }
			        .terms-desc-bottom {
			            margin-top: 30px;
			            margin-bottom: 80px;
			        }
					.footer-mobile {
						margin: -10px -30px -80px;
						border-top: 0;
					}
		    	}
		    }
		}

		.innerpage {
			@extend .general;
			color: $white;
			background: #000;
			.subpage {
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    overflow: auto;
			    background: $blue;
				color: $white;
				opacity: 0;
				visibility: 0;
				padding-top: 80px;
			    @include p(transition, all 1s ease-out);
			    &.active {
					opacity: 1;
					z-index: 5;
					visibility: 1;
				}
				.wrapper {
					width: 1024px;
					margin: 0 auto;
					@include respond-to(max-mobile){
						width: 100%;
					}
					.content {
						margin: 0 -40px;
						padding-bottom: 100px;
						position: relative;
						z-index: 1;
						@include respond-to(max-mobile){
							margin: 0;
						}
						> .title {
							h1 {
								text-align: center;
							    font-size: 27px;
							    font-family: $heading-font;
							    letter-spacing: 1px;
							    @include respond-to(max-mobile){
									font-size: 23px;
								}
							}
						}
						.nav {
							text-align: center;
							.button {
								margin-bottom: 10px;
								a {
									text-decoration: none;
									font-family: $heading-font;
								    font-size: 14px;
								    font-weight: 600;
								    color: #000;
								    background: #FFBC08;
								    line-height: 50px;
								    display: inline-block;
								    padding: 0px 20px;
								    border-radius: 4px;
								    @include p(transition, all .3s ease-out);
								    &:hover {
								    	background: rgba(255, 188, 8, .9)
								    }
								}
							}
							.alternate {
								a {
									text-decoration: none;
									color: rgba(255,255,255,.7);
									@include p(transition, all .3s ease-out);
									&:hover {
										color: rgba(255,255,255,.9);
									}
								}
							}
						}
					}

				}
				&.how {
					.items{
						margin-bottom: 50px;
						.item {
							width: 33.333%;
							display: inline-block;
							float: left;
							padding: 0 40px;
							@include respond-to(max-mobile){
								width: 100%;
							}
							.thumb {
								@include respond-to(max-mobile){
									width: 250px;
									margin: 0 auto;
								}
								img {
									max-width: 100%;
								}
							}
							.title {
								font-family: $heading-font;
							    font-size: 18px;
							    line-height: 25px;
							    text-align: center;
							    padding: 0 15px;
							    margin-bottom: 15px;
							    @include respond-to(max-mobile){
									padding: 0 25px;
    								font-size: 17px
								}
							}
							.description {
								font-size: 12px;
							    line-height: 22px;
							    text-align: center;
							    @include respond-to(max-mobile){
									font-size: 12px;
								    line-height: 17px;
								    padding: 0 30px;
								}
							}
						}
					}
				}
				&.testimonial {
					.content {
						margin: 0 -20px;
						@include respond-to(max-mobile){
							margin: 0;
						}
					}
					.items{
						margin-top: 70px;
						@include respond-to(max-mobile){
							margin-top: 50px;
						}
						.item {
							position: relative;
						    display: inline-block;
						    float: left;
						    width: 50%;
						    padding: 0 20px 0 90px;
						    margin-bottom: 50px;
						    @include respond-to(max-mobile){
								width: 100%;
							    padding: 0 30px;
							    text-align: center;
							}
							.thumb {
								width: 60px;
							    height: 60px;
							    position: absolute;
							    left: 20px;
							    top: 0;
							    @include respond-to(max-mobile){
									position: relative;
								    margin: 0 auto 20px;
								    left: initial;
								    width: 100px;
								    height: 100px;
								}
								img {
									max-width: 100%;
								}
							}
							.words {
								background: #fff;
							    color: #262626;
							    font-size: 13px;
							    font-style: italic;
							    padding: 15px 18px;
							    border-radius: 4px;
							    line-height: 18px;
							    margin-bottom: 10px;
							    @include respond-to(max-mobile){
								    background: transparent;
								    font-size: 18px;
								    line-height: 22px;
								    font-weight: 600;
								    color: #fff;
								    padding: 0 20px;
								    margin-bottom: 20px;
								}
							}
							.meta {
								font-size: 13px;
							    line-height: 13px;
							    text-align: right;
							    color: rgba(255,255,255,.6);
							    margin-bottom: 5px;
							    @include respond-to(max-mobile){
							     	text-align: center;
								    font-size: 11px;
								    text-transform: uppercase;
								}
								.name {

								}
								.description {
									font-weight: 100;
    								color: rgba(255,255,255,.4);
    								@include respond-to(max-mobile){
								     	display: none;
									}
								}
							}
							.twitter {
								text-align: right;
							    font-size: 13px;
							    font-style: italic;
							    line-height: 13px;
							    @include respond-to(max-mobile){
							     	display: none;
								}
    							a {
    								color: rgba(255,255,255,.6);
    								text-decoration: none;
    							}
							}
						}
					}
				}
				&.faq {
					.content {
						margin: 0;
    					padding: 0 100px 100px;
    						@include respond-to(max-mobile){
								padding: 0 30px 50px;
							}
					}
					.items {
						width: 100%;
					    margin-top: 50px;
					    margin-bottom: 50px;
						.item {
							background: #0B94C9;
						    margin-bottom: 5px;
						    border-radius: 5px;
						    text-align: center;
						    @include p(transition, 1s ease-out);
						    &.open {
						    	background: #006890;
						    }
							.title {
								font-family: $heading-font;
							    font-size: 16px;
							    padding: 15px 10px;
							    cursor: pointer;
							    @include respond-to(max-mobile){
									font-size: 15px;
    								padding: 10px
								}
							}
							.description {
								padding: 5px 20px 20px;
    							display: none;
    							@include respond-to(max-mobile){
									font-size: 12px;
    								padding: 5px 20px 10px;
								}
							}
						}
					}
				}
			}
		}

		.footer {
			width: 100%;
			position: fixed;
			z-index: 3;
			bottom: 0;
			z-index: 6;
			background: $blue;
			@include respond-to(max-mobile){
				position: relative;
				display: none;
			}
			.wrapper {
				padding: 10px 30px;
				overflow: hidden;
				clear: both;
				font-size: 11px;
				color: $white;
				line-height: 20px;
				text-transform: uppercase;
				.copyright {
					float: left;
					text-decoration: none;
					a {
						text-decoration: none;
						color: $white;
					}
				}
				.menu {
					float: right;
					ul {
						padding: 0;
						margin: 0;
						li {
							display: inline-block;
							margin-left: 18px;
							a {
								text-decoration: none;
								color: $white;
							}
						}
					}

				}
			}
		}

		.footer-mobile {
			display: none;
			background: #f8f8f8;
			border-top: 1px solid #ddd;
			padding-top: 10px;
			@include respond-to(max-mobile){
				display: block;
			}
			td {
				padding-left: 20px;
				@include respond-to(mini-mobile){
					padding-left: 10px;
				}
				img {
					max-width: 20px;
				}
				label {
					font-size: 12px;
				  line-height: 20px;
				  color: #2D9DC7;
					vertical-align: top;
				}
			}
			.bottom {
				text-align: center;
			    display: block;
			    padding: 15px 0;
			    font-size: 9px;
			    color: #888;
			}
		}

	}
}
