<style>
  body .main .page.home {
      background-image: url(<%- options.background %>);
  }
  body .main .page.home.mobile {
      background-image: url(<%- options.mobile.background %>);
  }
  body .main .header .menu ul li a {
      color: <%- options.menu_color %> ;
  }
  body .main .menu-mobile, body .main .nav-mobile .open-menu a, body .main .menu-mobile .close-menu, body .main .menu-mobile ul li a {
      color: <%- options.mobile.menu_color %> ;
  }
  body .main .menu-mobile {
      background: <%- options.mobile.menu_background %> ;
  }
  body .main .header .menu ul li a.selected, body .main .header .menu ul li:hover a {
      border-color: <%- options.menu_color %> ;
  }
  
  body .main .page.home .home-content .wrapper .desc-about .about-greeting h2 {
      color: <%- options.signup.title_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-head-mobile h2 {
      color: <%- options.mobile.signup.title_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-greeting p {
      color: <%- options.signup.description_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-head-mobile p {
      color: <%- options.mobile.signup.description_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .mobile-description {
      color: <%- options.mobile.signup.description_bottom_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=number] {
      color: <%- options.signup.input_color %> ;
      background: <%- options.signup.input_background %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]::-webkit-input-placeholder {
      color: <%- options.signup.input_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]::-moz-placeholder {
      color: <%- options.signup.input_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]:-ms-input-placeholder {
      color: <%- options.signup.input_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]:-moz-placeholder {
      color: <%- options.signup.input_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
      color: <%- options.signup.button_text_color %> ;
      background: <%- options.signup.button_background %> ;
  }
  body .main .page.home .home-footer {
      color: <%- options.footer.text_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-footer-mobile {
      background: <%- options.mobile.footer.background %> ;
  }
  body .main .page.home .home-content .wrapper .desc-about .about-footer-mobile .copyright {
      color: <%- options.mobile.footer.text_color %> ;
  }

  body .main .page.home .home-content .wrapper .desc-after .about-greeting h2 {
      color: <%- options.after_signup.title_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-after .about-greeting p {
      color: <%- options.after_signup.description_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-after .about-box h2 {
      color: <%- options.after_signup.box_title_color %> ;
  }
  body .main .page.home .home-content .wrapper .desc-after .about-box p {
      color: <%- options.after_signup.box_description_color %> ;
  } 
  body .main .page.home .home-content .wrapper .desc-after .about-box {
      background-color: <%- options.after_signup.box_background %> ;
  }

  body .main .innerpage .subpage {
      background-color: <%- options.innerpage.background %> ;
      color: <%- options.innerpage.text_color %> ;
  }
  body .main .innerpage .subpage .wrapper .content .nav .alternate a {
      color: <%- options.innerpage.text_color %> ;
  }
  body .main .innerpage .subpage .wrapper .content .nav .button a {
      background-color: <%- options.innerpage.button_background %> ;
      color: <%- options.innerpage.button_text_color %> ;
  }
  
  @media only screen and (max-width: 1023px) {
    body .main .page.home .home-content .wrapper .desc-about .about-form {
      background: <%- options.mobile.signup.form_background %> ;
    }
    body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text], body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=number] {
      color: <%- options.mobile.signup.input_color %> ;
      background: <%- options.mobile.signup.input_background %> ;
    }
    body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset button {
      color: <%- options.mobile.signup.button_text_color %> ;
      background: <%- options.mobile.signup.button_background %> ;
    }
    body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]::-webkit-input-placeholder {
        color: <%- options.mobile.signup.input_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]::-moz-placeholder {
        color: <%- options.mobile.signup.input_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]:-ms-input-placeholder {
        color: <%- options.mobile.signup.input_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-about .about-form .fieldset .input-wrapper input[type=text]:-moz-placeholder {
        color: <%- options.mobile.signup.input_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-after .about-greeting h2 {
        color: <%- options.mobile.after_signup.title_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-after .about-greeting p {
        color: <%- options.mobile.after_signup.description_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-after .about-box {
        background: <%- options.mobile.after_signup.box_background %> ;
    }
    body .main .page.home .home-content .wrapper .desc-after .about-box h2 {
        color: <%- options.mobile.after_signup.box_title_color %> ;
    }
    body .main .page.home .home-content .wrapper .desc-after .about-box p {
        color: <%- options.mobile.after_signup.box_description_color %> ;
    }
    body .main .innerpage .subpage {
      background-color: <%- options.mobile.innerpage.background %> ;
      color: <%- options.mobile.innerpage.text_color %> ;
    }
    body .main .innerpage .subpage .wrapper .content .nav .alternate a {
        color: <%- options.mobile.innerpage.text_color %> ;
    }
    body .main .innerpage .subpage .wrapper .content .nav .button a {
        background-color: <%- options.mobile.innerpage.button_background %> ;
        color: <%- options.mobile.innerpage.button_text_color %> ;
    }
  }
</style>