	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>YesBoss - Asisten Pribadi Virtual</title>
        <meta name="description" content="YesBoss adalah layanan asisten pribadi virtual pertama di Indonesia yang dapat memenuhi berbagai kebutuhan harian Anda tanpa biaya tambahan">
        <meta name="viewport" content="width=device-width, initial-scale=1">
				<meta property="fb:app_id" content="229746724052180">
        <meta property="fb:admins" content="578138957">
        <meta property="og:title" content="YesBoss - Your Personal Virtual Assistant">
        <meta property="og:url" content="https://yesbossnow.com/">
        <meta property="og:type" content="website">
        <meta property="og:description" content="YesBoss adalah layanan asisten pribadi virtual pertama di Indonesia yang dapat memenuhi berbagai kebutuhan harian Anda tanpa biaya tambahan">
        <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/background/mainBackground5.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="https://s3-ap-southeast-1.amazonaws.com/yb-landing-page/favicon/mstile-310x310.png" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/promo.min.css">
	</head>