                <%
                    var en = '/';
                    var flag = 'en';
                    var url = '/en/'+path;
                    if (path=='') url = '/en';
                    if (lang=='en') {
                        en = '/en';
                        flag = 'id';
                        url = '/'+path ;
                    }
                %>
                <div class="nav-mobile">
        		<div class="logo">
        			<a href="<%- en %>"><img src="<%- options.mobile.logo %>"></a>
        		</div>
        		<div class="open-menu">
        			<a href="#"><i class="fa fa-reorder"></i></a>
        		</div>
                <div class="lang-menu">
                    <a href="<%- url %>"><img src="/images/flag_<%- flag %>.png"></a>
                </div>
        	</div>
        	<div class="menu-mobile">
        		<a href="#" class="close-menu"><i class="fa fa-close"></i></a>
        		<ul class="menu">
						<% text("promos."+path+".nav_top").forEach(function(v,i){ %>
						<li data-val="<%- v.value %>" data-title="<%- v.title %>"><a ><%- v.title %></a></li>
						<% }); %>
			</ul>
       </div>
