			<%
				var en = '/';
				var flag = 'en';
				var url = '/en/'+path;
				if (path=='') url = '/en';
				if (lang=='en') {
					en = '/en';
					flag = 'id';
					url = '/'+path ;
				} 
                var options = text("promos."+path+".options");
			%>
			
			<div class="loader">
				<div class="wrapper">
					<div id="spinner"></div>
				</div>
			</div>
            
			<div class="header">				
				<div class="logo">
					<a href="<%- en %>"><img src="<%- options.logo_image %>"></a>
				</div>
				<div class="lang-menu">
					<a href="<%- url %>"><img src="/images/flag_<%- flag %>.png"></a>
				</div>
				<div class="menu">
					<ul>
						<% text("promos."+path+".nav_top").forEach(function(v,i){ %>
						<li data-val="<%- v.value %>" data-title="<%- v.title %>"><a ><%- v.title %></a></li>
						<% }); %>
					</ul>
				</div>
			</div>			