<%
    var homepage = text("promos."+path+".homepage."+lang+".signup");
    var content = text("promos."+path+".homepage."+lang+".content");
    var footer = text("promos."+path+".footer."+lang);
    var options = text("promos."+path+".options");
%>

<!DOCTYPE html>
<html>
    
    <% include head %>
    
    <body>
        <div class="main ybhome">
            
            <% include dynamic-style %>
            <% include header %>    
                	
            <div class="page home step1">
                
            	<% include header-mobile %>
                
                <div class="home-content">
                    <div class="wrapper">
                    	<div class="desc-head-mobile">
                        <h2><%- homepage.title %></h2>
                        <p><%- homepage.description %></p>
                        <div class="arrow-bottom">
                            <a href="#"><img src="/images/arrow.png"></a>
                        </div>
                      </div>
                      <div class="desc-about">
                        <div class="about-greeting">
                            <h2><%- homepage.title %></h2>
                            <p><%- homepage.description %></p>
                        </div>
                        <div class="about-form">
                          <form method="post" id="formSub">
                                <div class="fieldset">
                                  <div class="loader-form"><img src="/images/loader-form.gif"></div>
                                    <input type="hidden" id="refid" name="refid" value="<%- refID %>"> 
                                    <div class="input-wrapper clearfix field-code">
                                        <input type="text" placeholder="" value="<%- options.promo_code %>" name="invitation_code" id="code"/>
                                        <span class="notice">Error</span>
                                    </div>
                                    <div class="input-wrapper clearfix field-telephone">
                                        <input type="text" placeholder="" value="+62" name="telephone" id="telephone"/>
                                        <span class="notice">Error</span>
                                    </div>
                                    <div class="input-wrapper clearfix field-email">
                                        <input type="text" id="newsletter-email" placeholder="<%- homepage.email %>" name="email" />
                                        <span class="notice">Error</span>
                                    </div>
                                    <button><%- homepage.button %></button>                                        
                                </div>
                                <div class="special"><%- homepage.special %></div>
                            </form>
                          <div class="mobile-description">
                            <%- homepage.description_bottom_mobile %>
                          </div>
                        </div>
                        <div class="about-footer-mobile">
                          <div class="logo"><img src="<%- options.mobile.footer.logo %>"></div>
                          <div class="copyright"><%- footer.copyright_mobile %></div>
                        </div>
                          <% //include footer-mobile %>

                      </div>
                    </div>
                </div>
                
                <div class="home-footer">
                    <div class='wrapper'>
                        <%- footer.copyright %>
                    </div>
                </div>
                
            </div>
            
            <% include innerpage %>
            
        </div>
        
        <% include script %>
        
    </body>
</html>
