<%
    var homepage = text("promos."+path+".homepage."+lang+".after_signup");
    var footer = text("promos."+path+".footer."+lang);
    var options = text("promos."+path+".options");
%>

<!DOCTYPE html>
<html>

	<% include head %>

	<body>
		<div class="main ybhome">
			
            <% include dynamic-style %>
			<% include header %>

			<div class="page home step2">
                
                <% include header-mobile %>
                
				<div class="home-content">
					<div class="wrapper">						
                        <div class="desc-after">
                            <div class="about-greeting">
                                <h2><%- homepage.title %></h2>
                                <p><%- homepage.description %></p>
                            </div>
                            <div class="about-box">
                                <h2><%- homepage.box_title %></h2>
                                <p><%- homepage.box_description %></p>
                            </div>                            
                        </div>
					</div>
				</div>

				<div class="home-footer">
                    <div class='wrapper'>
                        <%- footer.copyright %>
                    </div>
                </div>			

				<div class="overlay"></div>
			</div>
			
			<% include innerpage %>

		</div>

		<% include script %>

	</body>

</html>