			<% 
                var how = text("promos."+path+".how."+lang);
                var what = text("promos."+path+".what."+lang);
            %>
                        
			<div class="innerpage">
				<div class="subpage how">
					<div class="wrapper">
						<% include header-mobile %> 
						<div class="content">
							<div class="title"><h1><%- how.title %></h1></div>
							<div class="items clearfix">
								<% how.items.forEach(function(v,i){ %>
								<div class="item">
									<div class="thumb">
										<img src="/<%- v.image %>">
									</div>
									<div class="title"><%- v.title %></div>
									<div class="description"><%- v.description %></div>
								</div>
								<% }); %>
							</div>
							<div class="nav">
								<div class="button">
									<a href="#"><%- how.button %></a>
								</div>
								<div class="alternate">
									<a href="#"><%- how.alternate %></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="subpage what">
					<div class="wrapper">
						<% include header-mobile %> 
						<div class="content">
							<div class="title"><h1><%- what.title %></h1></div>
							<div class="description"><%- what.description %></div>
							<div class="nav">
								<div class="button">
									<a href="#"><%- what.button %></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>