	
	<script type="text/javascript" src="/js/jquery-1.12.1.min.js"></script>
	    <script type="text/javascript">
            var page = "<%- path %>" ;
						var promocode = "<%- options.promo_code %>";
        </script>
    <script type="text/javascript" src="/js/promo.min.js"></script>